
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link href="/assets/css/searchbarcss.css" rel="stylesheet">
    <link href="/assets/css/member-single-view.css" rel="stylesheet">
    <link href="/assets/css/DashBoard.css" rel="stylesheet">
    <link href="/assets/css/my-profile.css" rel="stylesheet">
    <link href="/assets/css/MyPhotos.css" rel="stylesheet">
    <link href="/assets/css/ragistration.css" rel="stylesheet">
    <link href="/assets/css/plans.css" rel="stylesheet">
    <link href="/assets/css/search-bar.css" rel="stylesheet"> -->
    <link href="/assets/icon/css/all.css" rel="stylesheet">
    <title>Saathidar</title>
</head>
<app-updgrade-header></app-updgrade-header>

<div class="container">
    <div class="row">
       <div class="col-lg-12 col-sm-12 ">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>

<app-updgrade-footer></app-updgrade-footer>

<script src="/assets/js/jquery-3.6.0.min.js"></script>

</html>