*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;color: #ffff;
}

.nav-link
{
    color: #ffff;
}
li
{
    list-style: none; border-bottom: white 1px solid;color: #ffff;
}
li a{color: #ffff;}

ul
{
    background-color:#742041;

}

h3
{
     background-color:#742041;
    padding: 10px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.custom-control
{
padding: 15px;     background-color:#742041;

}
.custom-control-label
{
margin-left: 20px;
}
a:hover
{
    color: #ffff;border: white 1px solid;
}