* {
    font-family: 'Times New Roman', Times, serifs;font-style: italic;
 }
 * {
    font-family: 'Times New Roman', Times, serifs;font-style: italic;
 }
ul{
    list-style: none; background-color:#742041
}
li a
{
    color: black; border-bottom: 1px white solid;color: #fff;

}
.fa-solid
{
    padding:15px;
}
p
{
    padding-top: 10px;border-bottom: 1px white solid;border-top: 1px white solid;
}
.SMS
{
    margin-top: 70px;
}
p
{
    background-color:#742041;color: #fff;
}
.container
{
    border: 1px #742041 solid ;padding: 5px;background: seashell;
}
a:hover
{
    color: #fff; border: #fff 1px solid;
}