


  <h1 class="dashbord"><b>Your Photos</b></h1>
  <div class="container p-3 my-3   w-100" id="background">


    <div class="container mt-5">
      <div class="carousel-container position-relative row">

        <!-- Sorry! Lightbox doesn't work - yet. -->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-slide-number="0">
              <img [src]='url' class="d-block w-100" alt="..." data-remote="https://source.unsplash.com/Pn6iimgM-wo/"
                data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="1">
              <img [src]='url' class="d-block" alt="..." data-remote="https://source.unsplash.com/Pn6iimgM-wo/"
                data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="2">
              <img src="https://source.unsplash.com/qlYQb7B9vog/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/qlYQb7B9vog/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="3">
              <img src="https://source.unsplash.com/QfEfkWk1Uhk/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/QfEfkWk1Uhk/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="4">
              <img src="https://source.unsplash.com/CSIcgaLiFO0/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/CSIcgaLiFO0/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="5">
              <img src="https://source.unsplash.com/a_xa7RUKzdc/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/a_xa7RUKzdc/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="6">
              <img src="https://source.unsplash.com/uanoYn1AmPs/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/uanoYn1AmPs/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="7">
              <img src="https://source.unsplash.com/_snqARKTgoc/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/_snqARKTgoc/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="8">
              <img src="https://source.unsplash.com/M9F8VR0jEPM/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/M9F8VR0jEPM/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
            <div class="carousel-item" data-slide-number="9">
              <img src="https://source.unsplash.com/Q1p7bh3SHj8/1600x900/" class="d-block w-100" alt="..."
                data-remote="https://source.unsplash.com/Q1p7bh3SHj8/" data-type="image" data-toggle="lightbox"
                data-gallery="example-gallery">
            </div>
          </div>
        </div>

        <!-- Carousel Navigation -->
        <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row mx-0">

                <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected" data-target="#myCarousel"
                  data-slide-to="0">
                  <img [src]='url' class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="1">
                  <img [src]='url' class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="2">
                  <img src="https://source.unsplash.com/qlYQb7B9vog/600x400/" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="3">
                  <img src="https://source.unsplash.com/QfEfkWk1Uhk/600x400/" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="4">
                  <img src="https://source.unsplash.com/CSIcgaLiFO0/600x400/" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="5">
                  <img src="https://source.unsplash.com/a_xa7RUKzdc/600x400/" class="img-fluid" alt="...">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row mx-0">

                <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="9">
                  <img [src]='url' class="img-fluid" alt="...">
                </div>

                <div class="col-2 px-1 py-2"></div>
                <div class="col-2 px-1 py-2"></div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div> <!-- /row -->
  

      <!-- Modal -->
      <!-- /container -->
      <!-- <div class="vs" type="file" (change)="onselectFile($event)" ><button type="submit" class="btn  vs" type="file" (change)="onselectFile($event)"  >Upload</button>"></div> -->

     
      <button class="btn btn-primary " style="margin: left 200px ;"  data-target=".bd-example-modal-lg"><input style="width: 100px;"  id="file1" type="file" (change)="onselectFile($event)"></button>

      <!-- Large modal -->
      <button type="button" class="btn btn-primary " style="margin: left 200px ;" data-toggle="modal" data-target=".bd-example-modal-lg">view guidelines</button>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="col-12"> Other ways to upload your photos</div>

            <div class="row email-photo">
              <div class="col-6"><i class="fa-solid fa-at"></i>E-mail your photos to <a href="">photos@saathidar.com</a>
              </div>
              <div class="col-6"><i class="fa-solid fa-envelope"></i>Send your photos through post to our office
                Mention your Profile ID and Name at the back of the photos.
              </div>

            </div>

            <div class="modal-body">
              <div class="row">
                <div class="col-4 popup-photo"><i class="fa-regular fa-circle-check"></i>PHOTOS YOU CAN UPLOAD</div>
                <div class="col-8"><i class="fa-solid fa-xmark"></i>PHOTOS YOU CANNOT UPLOAD</div>



              </div>
              <div class="row img-popup">

                <div class="col-2"><img src="/assets/img/main-thumb-passport.jpeg" alt=""></div>
                <div class="col-2 img-br"><img src="/assets/img/full-pic.jpg" alt=""></div>
                <div class="col-2"><img src="/assets/img/images-one-side.jpg" alt=""></div>
                <div class="col-2"><img src="/assets/img/images-bular.jpg" alt=""></div>
                <div class="col-2"><img src="/assets/img/248-2484313_group-of-men-png-pluspng-group-of-men.png" alt="">
                </div>
                <div class="col-2"><img src="/assets/img/logo-hide-img.jpg" alt=""></div>



              </div>

              <h5 class="mt-5"> <i class="fa-solid fa-lightbulb"></i>  Basic Rules:</h5>
              <p>  <b> Smile. Your matches are more likely to respond.</b></p>
              <p><i class="fa-solid fa-right-long"></i> <b>Add recent and clear photos.</b></p>
              <p><i class="fa-solid fa-right-long"></i><b> You can upload 20 photos to your profile. Each photo must be less
                than 15 MB and in jpg, gif,
                png, bmp or tiff format.</b></p>

              <h5 class="mt-5"><i class="fa-solid fa-lightbulb"></i> <b>Beyond these basic rules, here are some reasons we
                reject photos::</b></h5>

              <p><i class="fa-solid fa-right-long"></i><b> You are the focus of your profile. Do not add group photos.</b></p>
              <p><i class="fa-solid fa-right-long"></i> <b>Sideways or upside-down photos are likely to be rejected.</b></p>
              <p><i class="fa-solid fa-right-long"></i> <b>Watermarked, digitally enhanced, morphed photos or photos with
                your
                personal information
                will be rejected.</b></p>

              <p><i class="fa-solid fa-right-long"></i> <b>Do not upload irrelevant photographs such as celebrity photos or
                obscene photos. It may lead
                to deactivation of your profile and membership.</b></p>

            </div>
          </div>
        </div>
      </div>



    </div>



  </div>











