.dashbord {
  margin-left: 431px;
  margin-top: -11px;
  color: #742041;
}
.vs
{
    margin: auto;text-align: center;border-radius: 10px;padding-left: 40px;padding-right: 40px;
}
.btn
{
     background-color:#742041;color: #fff;border: #fff 1px solid;margin-left: 2px;
     margin-top: 10px;
     margin-bottom: 10px;
}
#background{
    
  background-color: seashell;

}
.carousel {
    position: relative;
  }
  .carousel-item img {
    object-fit: cover;
  }
  #carousel-thumbs {
    background: rgba(255,255,255,.3);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
  }
  #carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
  }
  #carousel-thumbs img:hover {
    border-color: rgba(255,255,255,.3);
  }
  #carousel-thumbs .selected img {
    border-color: #fff;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }
  @media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
      border-width: 3px;
    }
  }
  @media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
      position: absolute;
    }
  }
  @media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
      background: #ccccce;
    }
  }
  .btn-primary
{
    background-color: #742041;color: aliceblue;margin-left: 70px;
}
.import-pic
{
    text-align: center;margin: auto;margin-top: 100px;
}
.btn
{
    background-color: #742041;color: aliceblue;padding: 10px;
}
.btn:hover
{
    color: aliceblue;
}
.img-popup img
{
    
    width: 100px;height: 100px;border-radius: 50%;
}
.img-br
{
    border-right: #742041 3px solid;
}
.fa-circle-check
{
    color: chartreuse;
}
.fa-xmark
{
    color: red;
}
.modal-body
{
    border: #742041 2px solid;
}
.modal-body{
  width: 940px;
  padding: -1rem;
}
.modal-content{
  width: 966px;
}
.btn{
  margin-left: 267px;
}

