<body style="border: 1px solid #742041;">

    <h1 class="  col-12"><b>User Profile</b></h1>
    <!-- <a routerLink="/members/my-profile/edit">Edit</a> -->
    <div class="container">
        <div class="row mt-3 maindetails">
            <div class="col-lg-3 col-sm-12 img-2"  >
             <img src="/saathidaar/assets/img/main-thumb-passport.jpeg" alt="">
             <div class="text-center mt-1">
                <button style="margin: 5px;" type="button" class="btn btn-success btn-sm">Approval</button>
                <button type="button" class="btn btn-danger btn-sm">Reject</button>
             </div>
                  </div>
                  <div class="col-lg-3 col-sm-12 img-2"  >
                    <img src="/saathidaar/assets/img/main-thumb-passport.jpeg" alt="">
                    <div class="text-center mt-1">
                       <button style="margin: 5px;" type="button" class="btn btn-success btn-sm">Approval</button>
                       <button type="button" class="btn btn-danger btn-sm">Reject</button>
                    </div>
                         </div>

                         <div class="col-lg-3 col-sm-12 img-2"  >
                            <img src="/saathidaar/assets/img/main-thumb-passport.jpeg" alt="">
                            <div class="text-center mt-1">
                               <button style="margin: 5px;" type="button" class="btn btn-success btn-sm">Approval</button>
                               <button type="button" class="btn btn-danger btn-sm">Reject</button>
                            </div>
                                 </div>
                         <div style="background-color: #742041;color: aliceblue;" class="col-lg-3 col-sm-12  age-col">
                            <table class="table table-borderless">
                                <tr>
                                    <th style="color: #fff;" scope="">Plan Name <span style="float: right ;color: aliceblue;">:</span></th>
                                    <th  style="color: #fff;" scope="">  Silver</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope="">Month <span style="float: right ;">:</span></th>
                                    <th  style="color: #fff;" scope="">  3</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope=""><span style="float: right ;">:</span>Amount</th>
                                    <th  style="color: #fff;" scope=""> 12000</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope=""><span style="float: right ;">:</span> Number</th>
                                    <th  style="color: #fff;" scope=""> 8668214959</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope=""><span style="float: right ;">:</span>Email ID</th>
                                    <th  style="color: #fff;" scope=""> MatinKhan@gmail.com</th>
                                </tr>
                           
                           
                            </table>
                        </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            
                         
            <div class="col-lg-6 col-sm-12  age-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="">First Name <span style="float: right ;">:</span></th>
                        <th scope="">  azim</th>
                    </tr>
                    <tr>
                        <th scope="">Age <span style="float: right ;">:</span></th>
                        <th scope="">  55</th>
                    </tr>
                    <tr>
                        <th scope=""><span style="float: right ;">:</span>Height</th>
                        <th scope=""> 7.5</th>
                    </tr>
                    <tr>
                        <th scope=""><span style="float: right ;">:</span>Marital Status</th>
                        <th scope="">  no</th>
                    </tr>
                    <tr>
                        <th scope=""><span style="float: right ;">:</span>Posted by</th>
                        <th scope="">father</th>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 col-sm-12  age-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope=""><span style="float: right ;">:</span>Religion</th>
                        <th scope="">  muslim</th>
                    </tr>
                    <tr>
                        <th scope=""> <span style="float: right ;">:</span>Community</th>
                        <th scope="">  muslim</th>
                    </tr>
                    <tr>
                        <th scope=""> <span style="float: right ;">:</span>Location</th>
                        <th scope=""> nashik</th>
                    </tr>
                    <tr>
                        <th scope=""> <span style="float: right ;">:</span>Mother Tongue</th>
                        <th scope="">  Hindi</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>About Myself</h3>
                <table class="table table-borderless">
             

                </table>


                
            </div>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
    
            <div class="col-12">
                <h3>Basics & Lifestyle</h3>
            </div>
        </div>
        <div class="row">
        
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Age<span style="float: right ;">:</span></th>
                        <th scope="">22</th>
                    </tr>
                    <tr>
                        <th scope="">Date of Birth<span style="float: right ;">:</span></th>
                        <th scope=""> 22 dec 2000</th>
                    </tr>
                    <tr>
                        <th scope="">Marital Status<span style="float: right ;">:</span></th>
                        <th scope="">  never</th>
                    </tr>
                    <tr>
                        <th scope="">Height<span style="float: right ;">:</span></th>
                        <th scope="">  5.4</th>
                    </tr>
                    <tr>
                        <th scope="">Grew up in<span style="float: right ;">:</span></th>
                        <th scope=""> nashik</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Diet<span style="float: right ;">:</span></th>
                        <th scope=""> veg</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Personal Values</th>
                        <th scope="">:  Will tell you later</th>
                    </tr> -->
                    <!-- <tr>
                        <th scope="">Sun Sign</th>
                        <th scope="">:  Leo</th>
                    </tr> -->
                    <tr>
                        <th scope="">Blood Group<span style="float: right ;">:</span></th>
                        <th scope="">  o+</th>
                    </tr>
                    <tr>
                        <th scope="">Health Information<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> fit</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Disability
                        </th>
                        <th scope="">:  None</th>
                    </tr> -->
                </table>
               
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>Religious Background</h3>
            </div>

        </div>
        <div class="row">

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Religion<span style="float: right ;">:</span></th>
                        <th scope=""> muslim</th>
                    </tr>
                    <tr>
                        <th scope="">Community<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  muslim</th>
                    </tr>
                    <tr>
                        <th scope="">Sub community<span style="float: right ;">:</span></th>
                        <th scope="">Muslim</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Mother Tongue<span style="float: right ;">:</span></th>
                        <th scope="">  Hindi</th>
                </tr>
                    <tr  ng-if="viewMemberModels.religion_name == Hindu || viewMemberModels.religion_name == Jain">
                        <th scope="">Gothra / Gothram <span style="float: right ;">:</span> </th>
                        <th scope="">no</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Can speak</th>
                        <th scope="">:  Enter Now</th>
                    </tr> -->
                </table>
              
            </div>
        </div>
    </div>
 
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Astro Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Manglik/Chevvai dosham<span style="float: right ;">:</span>
                        </th>
                        <th scope="">no</th>
                    </tr>
                    <tr>
                        <th scope="">Date of Birth<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> 22 Dec 2000</th>
                    </tr>
                    <tr>
                        <th scope="">Nakshatra<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> Nakshatra </th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Time of Birth<span style="float: right ;">:</span>
                        </th>  
                        <th scope="">  Time of Birth   </th>
                    </tr>

                    <tr>
                        <th scope="">City of Birth<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  Nashik </th>
                    </tr>
                </table>
               
            </div>
        </div>
    </div> 

    <div class="container">
        <div class="row">
        
            <div class="col-12">
                <h3>
                    Family details</h3>
            </div>
        </div>
        <div class="row">
        
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Father's Status<span style="float: right ;">:</span>

                        </th>
                        <th scope=""> empoly</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Nature of Business
                        </th>
                        <th scope="">:  {{viewMemberModels.father_status}}</th>
                    </tr> -->
                    <tr>
                        <th scope="">Mother's Status<span style="float: right ;">:</span>
                        </th> 
                        <th scope=""> house wife</th>
                    </tr>
                    <tr>
                        <th scope="">Family Location<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  nashik</th>
                    </tr>
                    <tr>
                        <th scope="">Native Place<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> Nshik</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">No. of Brothers<span style="float: right ;">:</span></th>
                        <th scope="" ng-if="viewMemberModels.married_male">  married </th>
                        <!-- <th scope="" ng-if="viewMemberModels.unmarried_male">:  {{viewMemberModels.unmarried_male}} unmarried </th> -->
                    </tr>
                    <tr>
                        <th scope="">No. of Sisters<span style="float: right ;">:</span>
                        </th>
                        <th scope="" ng-if="viewMemberModels.married_female">  married </th>
                        <!-- <th scope="" ng-if="viewMemberModels.unmarried_female">:  {{viewMemberModels.unmarried_female}} unmarried </th> -->
                    </tr>
                    <tr>
                        <th scope="">Family Type<span style="float: right ;">:</span>
                        </th>
                        <th scope="">Family Type </th>
                    </tr>

                  
                    <tr>
                        <th scope="">Family Affluence<span style="float: right ;">:</span>

                        </th>
                        <th scope="">  Family Affluence</th>
                    </tr>

                    <!-- <tr>
                        <th scope="">City of Birth
                        </th>
                        <th scope="">:  Nashik / india</th>
                    </tr> -->

                </table>
              

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>
                    Education & Career</h3>
            </div>

        </div>
        <div class="row">
        

            <div class="col-6">

                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Highest Qualification<span style="float: right ;">:</span>

                        </th>
                        <th scope="">  Highest Qualification</th>
                    </tr>
                    <tr>
                        <th scope="">College(s) Attended<span style="float: right ;">:</span>


                        </th>
                        <th scope=""> College(s) Attended</th>
                    </tr>

                    <tr>
                        <th scope="">Annual Income<span style="float: right ;">:</span>  
                        </th>
                        <th scope=""> Annual Income
                        </th>
                    </tr>


                </table>


            </div>

            <div class="col-6">
                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Working With<span style="float: right ;">:</span>

                        </th>
                        <th scope="">  ngDigital</th>
                    </tr>

                    <tr>
                        <th scope="">Working As<span style="float: right ;">:</span>



                        </th>
                        <th scope="">Working As</th>
                    </tr>

                    <!-- <tr>
                        <th scope="">Employer Name


                        </th>
                        <th scope="">:  Enter Now</th>
                    </tr> -->
                </table>
              

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>
                    Location of Groom</h3>
            </div>

        </div>
        <div class="row">
        

            <div class="col-6">

                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Current Residence<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> Current Residence</th>
                    </tr>
                    <tr>
                        <th scope="">State Of Residence<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> State Of Residence</th>
                    </tr>

                </table>


            </div>

            <div class="col-6">
                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Residency Status<span style="float: right ;">:</span>


                        </th>
                        <th scope=""> Residency Status</th>
                    </tr>

                    <tr>
                        <th scope="">Zip / Pin code<span style="float: right ;">:</span>




                        </th>
                        <th scope=""> Zip / Pin code</th>
                    </tr>


                </table>
               

            </div>
        </div>
    </div>




        <div class="container">
            <div class="row">

          


          <div class="col-12">
              <h3>My Contact detail
            </h3>
          </div>
        </div>
      </div>
 
      <div class="container">

      <div class="row">
               
        

        <div class="col-6">

            
            <table class="table table-borderless">
                <tr>
                    <th scope="">Mobile<span style="float: right ;">:</span>

                    </th>
                    <th scope="">1521521511
                        </th>
                </tr>
                
                <tr>
                    <th scope="">Relationship with the member<span style="float: right ;">:</span>

                    </th>
                    <th scope="">  Relationship

                        </th>
               
                  
                </tr>




    
            </table>

            
        </div>
        <hr>

      </div>
    </div>

</body>