

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link href="/assets/css/searchbarcss.css" rel="stylesheet">
    <link href="/assets/css/member-single-view.css" rel="stylesheet">
    <link href="/assets/css/DashBoard.css" rel="stylesheet">
    <link href="/assets/css/my-profile.css" rel="stylesheet">
    <link href="/assets/css/MyPhotos.css" rel="stylesheet">
    <link href="/assets/css/ragistration.css" rel="stylesheet">
    <link href="/assets/css/plans.css" rel="stylesheet">-->
    <!-- <link href="/assets/icon/css/all.css" rel="stylesheet"> -->
    <link href="/saathidaar/assets/icon/css/all.css" rel="stylesheet"> 
 
    <!-- <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/> -->
    <!-- <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/chosen-js/chosen.jquery.js"></script>
    <link href="/node_modules/chosen-js/chosen.min.css" rel="stylesheet" type="css"/> -->
    <title>Saathidar</title>
</head>

<app-header-account></app-header-account>
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer-account></app-footer-account>



<!-- <script src="/saathidaar/assets/js/jquery-3.6.0.min.js"></script> -->
<!-- <script src="/saathidaar/assets/js/jquery-3.6.0.min.js"></script>  -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!-- <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script> -->
</html>
