
<!-- 
<div class="navbar d-flex justify-content-center" id="navbarSupportedContent">
  <img src="/saathidaar/assets/img/saathidaar-logo-main.png" alt="" class="im1">

  <div class="subnav">

    <div> <button class="subnavbtn " (click)="addEventHandler()" aria-haspopup="true" aria-expanded="false">My Saathidaar
  
      </button>


    </div>
  </div>


  <div class="subnav">
    <div> <button class="subnavbtn " (click)="addEventMatches()">Matches <i class="fa fa-user-plus" aria-hidden="true"></i></button>

    </div>
  </div>


 <div class="subnav">
    <div> <button class="subnavbtn " (click)="addEventInbox()">Inbox <i class="fa fa-inbox" aria-hidden="true"></i>
      </button>
    
    </div>
  </div>

    <div class="subnav">
    <div><button class="subnavbtn " (click)="showUpgradeNow()"> Upgrade Now <i class="fa-solid fa-crown"></i></button></div>
    </div>

    <div class="subnav">
    <div> <button class="subnavbtn " (click)="addEventProfile()">Settings <i class="fa-solid fa-gear"></i>
      </button>
      
    </div>
    </div>
    <div class="subnav">
      <div> <button class="subnavbtn " (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </div>
      </div>
</div> -->



<nav class="navbar navbar-expand-lg ">
  <img src="/saathidaar/assets/img/saathidaar-logo-main.png" alt="" class="im1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="subnav">
          <div> <button class="subnavbtn "   (click)="addEventHandler()" aria-haspopup="true" aria-expanded="false">My Saathidaar</button>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="subnav">
          <div> <button class="subnavbtn " (click)="addEventMatches()" aria-haspopup="true" aria-expanded="false">Matches <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </li>


      <li class="nav-item">
        <div class="subnav">
          <div> <button class="subnavbtn " (click)="addEventInbox()" aria-haspopup="true" aria-expanded="false">Inbox <i class="fa fa-inbox" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="subnav">
          <div><button   class="subnavbtn " (click)="showUpgradeNow()"> Upgrade Now <i class="fa-solid fa-crown"></i></button></div>
        </div>
      </li>

      <li class="nav-item">
        <div class="subnav">
          <div> <button class="subnavbtn " (click)="addEventProfile()" aria-haspopup="true" aria-expanded="false">Settings <i class="fa-solid fa-gear"></i>
            </button>
          </div>
          </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <div class="subnav">
        <div> <button class="subnavbtn " (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
        </div>
        </div>
    </form>
  </div>
</nav>

<div class="subnav-content1" *ngIf="mySaathidar">
  <div class="header1">
    <a [routerLink]="" (click)="showDashboard()" aria-expanded="false" id="header2">Dashboard</a>
    <a [routerLink]="" (click)="showMyProfile()" aria-expanded="false" id="header2">My Profile</a>
    <a [routerLink]="" (click)="showPartnerPreference()" aria-expanded="false" id="header2">Partner Preference</a>
    <a [routerLink]="" (click)="showHorosscope()" aria-expanded="false" id="header2">Horoscope </a>
  </div>
</div>

<div class="subnav-content1" *ngIf="myInbox">
  <div class="header1">
    <a [routerLink]="" (click)="showInvitations()" id="header2">New Invitations  <span class="badge badge-light"> {{viewAllInboxCount.data[0].invitations_count}}</span></a>
    <a [routerLink]="" (click)="showAccepted()" id="header2">Accepted <span class="badge badge-light"> {{viewAllInboxCount.data[0].accept_request_count}}</span>
    </a>
    <a [routerLink]="" (click)="showSent()" id="header2">Sent <span class="badge badge-light"> {{viewAllInboxCount.data[0].sent_request_count}}</span></a>
    <a [routerLink]="" (click)="showDeleted()" id="header2">Deleted <span class="badge badge-light"> {{viewAllInboxCount.data[0].deleted_request_count}}</span></a>
    <a [routerLink]="" (click)="showBlockmember()" id="header2">Block list <span class="badge badge-light"> {{viewAllInboxCount.data[0].block_request_count}}</span></a>
  </div>
</div>

<div class="subnav-content1" *ngIf="myMatches">
  <div class="header1">
    <a [routerLink]="" (click)="showNewMatches()" id="header2">New Matches</a>
    <a [routerLink]="" (click)="showMyMatches()" id="header2">My Matches</a>
    <a [routerLink]="" (click)="showTodaysMatches()" id="header2">Today's Matches</a>
    <a [routerLink]="" (click)="showShortLists()" id="header2">ShortLists Profile </a>
    <a [routerLink]="" (click)="showView()" id="header2">View</a>

  </div>
</div>

<div class="subnav-content1" *ngIf="myProfile">

  <div class="header1">
    <a [routerLink]="" (click)="showAccount()" id="header2">Account</a>
    <a [routerLink]="" (click)="showContact()" id="header2">Email/SMS</a>
    <a [routerLink]="" (click)="showHidedeleteprofile()" id="header2">Hide-Delete-Profile</a>
    <a [routerLink]=""  (click)="showhelp()" id="header2">Help</a>
    <a [routerLink]="" (click)="privacyshow()" id="header2">Privacy </a>
  </div>
</div>

