<!-- <h2 class="dashbord"><b>ShortList</b></h2>
<div class="row">
    

    <div class="col-12">
        <h3>Shortlist</h3>
        <div class="container">

            <div class="row media col-12 position-relative colorbg1 shadow-lg" id="eachRow"
                *ngFor="let search of shortlistDetails">
                <div class="col-2">
                    <img *ngIf="search.gender=='men'" src="/assets/img/Saathidaar_PNG_logo/m-final.jpeg" class="mr-3"
                        alt="...">
                    <img *ngIf="search.gender=='women'" src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" class="mr-3"
                        alt="...">
                </div>

                <div class="col-sm-7 br" style="color:white;">
                    <div style="text-align: right;font-size: 8; ">
                        <a [routerLink]="" (click)="removeToShortList(search.member_id)"><i class="fa fa-list-alt" aria-hidden="true" ></i>Remove</a>
                      </div>
                    <div class="feature">

                        <div class="name" id="padding-class" style="font-size:30px;padding-top: 10px;">
   
                            {{search.first_name}} {{search.last_name}}
                        </div>
                        <hr style="width:50%;margin-left: 100px;">
                        <div class="age-height" id="padding-class">
                   
                            Age: {{search.mage}} yrs
                        </div>
                        <div class="city-state" id="padding-class">
                                                  Religion: {{search.religion}}
                        </div>
                        <div class="expectations" id="padding-class">
                            marital status: {{search.maritalStatus}}
                       
                           
                        </div>
                      
                        <div class="city-state" id="padding-class">
                                                 Income: {{search.income}}
                            <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)"
                                style="color: blue;">read more...</a>
                        </div>
                    </div>
                </div>

                <div class="col-3 logo-3">
                    <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-phone"></i>Call</a>
                    </div>
                    <div class="col-8"><a class="btn" href="#" role="button"><i
                                class="fa-solid fa-whatsapp-square"></i>Whatsapp</a></div>
                    <div class="col-8"><a class="btn" href="#" role="button"><i
                                class="fa-solid fa-comment"></i>Saathidar</a></div>
                </div>
            </div>

            <div class="row  Requests-hide" *ngIf="shortlistDetails.length == 0">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <img src="/assets/img/sad-image.jpg" alt="">
                    <p>
                        There are no short lists<br>
                        <a href="">View My Matches</a>
                    </p>
                </div>
                <div class="col-4">
                </div>
            </div>

        </div>

    </div>



</div> 
 -->




<div class="container">
    <div class="row"  *ngFor="let search of shortlistDetails">
           
        <div class="col-lg-3 col-md-12 col-sm-12"  >
           
         
          <img   src="/assets/img/download.jpg" alt="">

          <label class="text-break"  for=""></label>
        
  
        </div>
        <div   class="col-lg-5 col-md-12  col-sm-12 nameclass ">
          <label  for=""> {{search.first_name}} {{search.last_name}} </label><br>
     
          <label  for="">Age :</label>  <label for=""> {{search.mage}} yrs	</label><br>
          <label for="">Religion </label>  <label for="">{{search.religion}}</label><br>
          <label for="">Marital Status:  </label>  <label for=""> {{search.maritalStatus}}	</label><br>
          <label for="">Income:  </label>  <label for=""> {{search.income}}	</label><br>
        <label for=""> <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a></label><br>
        <a [routerLink]="" (click)="removeToShortList(search.member_id)"><i class="fa fa-list-alt" aria-hidden="true" ></i>Remove</a>
        <!-- <a class="colorp" [routerLink]="" (click)="addToShortList(search.member_id)"><i class="fa fa-list-alt" aria-hidden="true" ></i>Add to ShortLists</a>  -->

        </div>
        <div  class="col-lg-4 col-md-12  col-sm-12 logocircle ">
     
          <tr><th>
            <i class="fa fa-star" aria-hidden="true"></i><br>
           <button type="button" (click)="sentRequests(search.member_id)"><i class="fa fa-check-circle" aria-hidden="true"></i></button> 
        </th></tr>
        <tr><th>
          <strong>Like this profile</strong>

            </th></tr>
        </div>
        <div class="row  Requests-hide" *ngIf="shortlistDetails.length == 0">
            <div class="col-4">
            </div>
            <div class="col-4">
                <img src="/assets/img/sad-image.jpg" alt="">
                <p>
                    There are no short lists<br>
                    <a href="">View My Matches</a>
                </p>
            </div>
            <div class="col-4">
            </div>
        </div>
       </div>
      </div> 
