<body style="border: 1px solid #742041;">

    <h1 class="  col-12"><b>My Profile</b></h1>
    <!-- <a routerLink="/members/my-profile/edit">Edit</a> -->
    <div class="container">
        <div class="row mt-3 maindetails">
        
            <div class="col-lg-2 col-sm-12 img-2"><img src="/assets/img/main-thumb-passport.jpeg" alt="">
                <!-- <a [routerLink]="" (click)="showAlbum()" class="box"><i class="fa-solid fa-camera"></i>View Album</a> -->
            </div>
              

                         
                    <div class="col-lg-5 col-sm-12  age-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="">Age <span style="float: right ;">:</span></th>
                                <th scope="">  {{viewMemberModels.age}}</th>
                            </tr>
                            <tr>
                                <th scope=""><span style="float: right ;">:</span>Height</th>
                                <th scope=""> {{viewMemberModels.height}}</th>
                            </tr>
                            <tr>
                                <th scope=""><span style="float: right ;">:</span>Marital Status</th>
                                <th scope="">  {{viewMemberModels.marital_status}}</th>
                            </tr>
                            <tr>
                                <th scope=""><span style="float: right ;">:</span>Posted by</th>
                                <th scope=""> {{viewMemberModels.profilecreatedby}}</th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-5 col-sm-12  age-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope=""><span style="float: right ;">:</span>Religion</th>
                                <th scope="">  {{viewMemberModels.religion_name}}</th>
                            </tr>
                            <tr>
                                <th scope=""> <span style="float: right ;">:</span>Community</th>
                                <th scope="">  {{viewMemberModels.caste}}</th>
                            </tr>
                            <tr>
                                <th scope=""> <span style="float: right ;">:</span>Location</th>
                                <th scope="">  {{viewMemberModels.city}}</th>
                            </tr>
                            <tr>
                                <th scope=""> <span style="float: right ;">:</span>Mother Tongue</th>
                                <th scope="">  {{viewMemberModels.mother_tounge}}</th>
                            </tr>
                        </table>
                    </div>
                
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <strong>Personality, Family Details, Career, Partner Expectations etc.</strong>
                <hr>
                <div [innerHTML]="viewMemberModels.about_ourself"></div>
            </div>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
    
            <div class="col-12">
                <h3>
                    Basics & Lifestyle</h3>
            </div>
        </div>
        <div class="row">
        
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Age<span style="float: right ;">:</span></th>
                        <th scope=""> {{viewMemberModels.age}}</th>
                    </tr>
                    <tr>
                        <th scope="">Date of Birth<span style="float: right ;">:</span></th>
                        <th scope="">  {{viewMemberModels.date_of_birth}}</th>
                    </tr>
                    <tr>
                        <th scope="">Marital Status<span style="float: right ;">:</span></th>
                        <th scope="">  {{viewMemberModels.marital_status}}</th>
                    </tr>
                    <tr>
                        <th scope="">Height<span style="float: right ;">:</span></th>
                        <th scope="">  {{viewMemberModels.height}}</th>
                    </tr>
                    <tr>
                        <th scope="">Grew up in<span style="float: right ;">:</span></th>
                        <th scope=""> {{viewMemberModels.city}}</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Diet<span style="float: right ;">:</span></th>
                        <th scope="">  {{viewMemberModels.lifestyles}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Personal Values</th>
                        <th scope="">:  Will tell you later</th>
                    </tr> -->
                    <!-- <tr>
                        <th scope="">Sun Sign</th>
                        <th scope="">:  Leo</th>
                    </tr> -->
                    <tr>
                        <th scope="">Blood Group<span style="float: right ;">:</span></th>
                        <th scope="">  {{viewMemberModels.blood_group}}</th>
                    </tr>
                    <tr>
                        <th scope="">Health Information<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.health_info}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Disability
                        </th>
                        <th scope="">:  None</th>
                    </tr> -->
                </table>
                <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right"> </i></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>Religious Background</h3>
            </div>

        </div>
        <div class="row">

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Religion<span style="float: right ;">:</span></th>
                        <th scope=""> {{viewMemberModels.religion_name}}</th>
                    </tr>
                    <tr>
                        <th scope="">Community<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.caste}}</th>
                    </tr>
                    <tr>
                        <th scope="">Sub community<span style="float: right ;">:</span></th>
                        <th scope="">  {{viewMemberModels.sub_caste_name}}</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Mother Tongue<span style="float: right ;">:</span></th>
                        <th scope="">  {{viewMemberModels.mother_tounge}}</th>
                </tr>
                    <tr  ng-if="viewMemberModels.religion_name == Hindu || viewMemberModels.religion_name == Jain">
                        <th scope="">Gothra / Gothram <span style="float: right ;">:</span> </th>
                        <th scope=""> {{viewMemberModels.gothra}}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Can speak</th>
                        <th scope="">:  Enter Now</th>
                    </tr> -->
                </table>
                <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>
            </div>
        </div>
    </div>
 
    <div class="container" *ngIf="viewMemberModels.religion_name=='Hindu' || viewMemberModels.religion_name=='Jain'">
        <div class="row">
            <div class="col-12">
                <h3>
                    Astro Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Manglik/Chevvai dosham<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> {{viewMemberModels.manglik}}</th>
                    </tr>
                    <tr>
                        <th scope="">Date of Birth<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.date_of_birth}}</th>
                    </tr>
                    <tr>
                        <th scope="">Nakshatra<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.nakshatra}}</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Time of Birth<span style="float: right ;">:</span>
                        </th>  
                        <th scope="">  {{viewMemberModels.time_of_birth}}   {{viewMemberModels.time_status}}</th>
                    </tr>

                    <tr>
                        <th scope="">City of Birth<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.city_of_birth}} </th>
                    </tr>
                </table>
                <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>
            </div>
        </div>
    </div> 

    <div class="container">
        <div class="row">
        
            <div class="col-12">
                <h3>
                    Family details</h3>
            </div>
        </div>
        <div class="row">
        
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Father's Status<span style="float: right ;">:</span>

                        </th>
                        <th scope="">  {{viewMemberModels.father_status}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Nature of Business
                        </th>
                        <th scope="">:  {{viewMemberModels.father_status}}</th>
                    </tr> -->
                    <tr>
                        <th scope="">Mother's Status<span style="float: right ;">:</span>
                        </th> 
                        <th scope="">  {{viewMemberModels.mother_status}}</th>
                    </tr>
                    <tr>
                        <th scope="">Family Location<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.family_location}}</th>
                    </tr>
                    <tr>
                        <th scope="">Native Place<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.native_place}}</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">No. of Brothers<span style="float: right ;">:</span></th>
                        <th scope="" ng-if="viewMemberModels.married_male"> {{viewMemberModels.married_male}} married </th>
                        <!-- <th scope="" ng-if="viewMemberModels.unmarried_male">:  {{viewMemberModels.unmarried_male}} unmarried </th> -->
                    </tr>
                    <tr>
                        <th scope="">No. of Sisters<span style="float: right ;">:</span>
                        </th>
                        <th scope="" ng-if="viewMemberModels.married_female"> {{viewMemberModels.married_female}} married </th>
                        <!-- <th scope="" ng-if="viewMemberModels.unmarried_female">:  {{viewMemberModels.unmarried_female}} unmarried </th> -->
                    </tr>
                    <tr>
                        <th scope="">Family Type<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.family_type}}</th>
                    </tr>

                  
                    <tr>
                        <th scope="">Family Affluence<span style="float: right ;">:</span>

                        </th>
                        <th scope="">  {{viewMemberModels.family_affluence}}</th>
                    </tr>

                    <!-- <tr>
                        <th scope="">City of Birth
                        </th>
                        <th scope="">:  Nashik / india</th>
                    </tr> -->

                </table>
                <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>
                    Education & Career</h3>
            </div>

        </div>
        <div class="row">
        

            <div class="col-6">

                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Highest Qualification<span style="float: right ;">:</span>

                        </th>
                        <th scope="">  {{viewMemberModels.highest_qualification}}</th>
                    </tr>
                    <tr>
                        <th scope="">College(s) Attended<span style="float: right ;">:</span>


                        </th>
                        <th scope="">  {{viewMemberModels.college_attended}}</th>
                    </tr>

                    <tr>
                        <th scope="">Annual Income<span style="float: right ;">:</span>  
                        </th>
                        <th scope="">  {{viewMemberModels.annual_income}}
                        </th>
                    </tr>


                </table>


            </div>

            <div class="col-6">
                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Working With<span style="float: right ;">:</span>

                        </th>
                        <th scope="">  {{viewMemberModels.working_with}}</th>
                    </tr>

                    <tr>
                        <th scope="">Working As<span style="float: right ;">:</span>



                        </th>
                        <th scope="">  {{viewMemberModels.working_as}}</th>
                    </tr>

                    <!-- <tr>
                        <th scope="">Employer Name


                        </th>
                        <th scope="">:  Enter Now</th>
                    </tr> -->
                </table>
                <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>
                    Location of Groom</h3>
            </div>

        </div>
        <div class="row">
        

            <div class="col-6">

                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Current Residence<span style="float: right ;">:</span>
                        </th>
                        <th scope="">  {{viewMemberModels.city}}, {{viewMemberModels.country_name}}</th>
                    </tr>
                    <tr>
                        <th scope="">State Of Residence<span style="float: right ;">:</span>
                        </th>
                        <th scope=""> {{viewMemberModels.state}}</th>
                    </tr>

                </table>


            </div>

            <div class="col-6">
                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Residency Status<span style="float: right ;">:</span>


                        </th>
                        <th scope="">  {{viewMemberModels.city}}</th>
                    </tr>

                    <tr>
                        <th scope="">Zip / Pin code<span style="float: right ;">:</span>




                        </th>
                        <th scope="">  {{viewMemberModels.pincode}}</th>
                    </tr>


                </table>
                <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>

            </div>
        </div>
    </div>




    <!-- Partner Preferences -->
<!-- 
                    
          <div class="container">
              <div class="row">

    


            <div class="col-12 partner-main">
                <h3>-----------------------------------Partner Preferences--------------------------------------</h3>
            </div>
          </div>
        </div>

        <div class="container">
            <div class="row">
                
                <div class="col-12">
                    <h3>
                        Basic Info</h3>
                </div>
    
            </div>
            <div class="row">
                
    
                <div class="col-6">
    
                    <hr>
                

  <table class="table table-borderless">
                        <tr>
                            <th scope="">Age
    
    
    
                            </th>
                            <th scope="">:  23 to 28</th>
                        </tr>
                        <tr>
                            <th scope="">Height
    
    
    
                            </th>
                            <th scope="">:  5' 4"(162cm) to 5' 10"(177cm)</th>
                        </tr>
    
    
                        <tr>
                            <th scope="">Religion / Community
    
    
    
                            </th>
                            <th scope="">:  Hindu</th>
                        </tr>
                
    </table>
       
                </div>
    
                <div class="col-6">
                    <hr>
    
    
                    <table class="table table-borderless">
                        <tr>
                            <th scope="">   Mother tongue
    
    
                            </th>
                            <th scope="">:  English,Gujarati, Hindi
                                </th>
                        </tr>
    
                        <tr>
                            <th scope="">Marital status
                            </th>
                            <th scope="">:  Never Married
                            </th>
                        </tr>
                    
                    </table>
                    <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>
    
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                <div class="col-12">
                    <h3>
                        Location Details</h3>
                </div>
    
            </div>
            <div class="row">
                
    
                <div class="col-6">
    
                    <hr>
                

  <table class="table table-borderless">
                        <tr>
                            <th scope="">Country living in
    
    
    
                            </th>
                            <th scope="">:  India</th>
                        </tr>
                        <tr>
                            <th scope="">State living in
    
    
    
                            </th>
                            <th scope="">Gujarat, Himachal Pradesh, Madhya Pradesh, Maharashtra, Rajasthan, Uttar Pradesh</th>
                        </tr>
    </table>
       
                </div>
    
                <div class="col-6">
                    <hr>
    
    
                    <table class="table table-borderless">
                        <tr>
                            <th scope="">  City / District
    
    
                            </th>
                            <th scope="">:  Doesn't Matter
                                </th>
                        </tr>
                    
                    </table>
                    <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>
    
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                
                <div class="col-12">
                    <h3>
                        Education & Career</h3>
                </div>
    
            </div>
            <div class="row">
                
    
                <div class="col-6">
    
                    <hr>
                

  <table class="table table-borderless">
                        <tr>
                            <th scope="">Education
    
    
    
                            </th>
                            <th scope="">:  Doctorate, Master, Bachelor / Undergraduate</th>
                        </tr>
                        <tr>
                            <th scope="">Working with
                         </th>
                            <th scope="">Private Company, Government / Public Sector, Defense / Civil Services, Business / Self Employed</th>
                        </tr>
                        <tr>
                            <th scope="">Profession area
                         </th>
                            <th scope="">:  Administration & HR, Advertising, Media & Entertainment, Civil Services / Law Enforcement, Corporate... More </th>
                        </tr>
    </table>
       
                </div>
    
                <div class="col-6">
                    <hr>
    
    
                    <table class="table table-borderless">
                        <tr>
                            <th scope="">  Working as
    
    
                            </th>
                            <th scope="">Admin Professional, Human Resources Professional, Actor, Advertising Professional, Entertainment Pro..
                                </th>
                        </tr>


                        <tr>
                            <th scope="">Annual income
    
    
                            </th>
                            <th scope="">INR less than 1 lakh to 20 lakhs.
                                </th>
                        </tr>
                    
                    </table>
                    <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>
    
                </div>
            </div>
        </div>
                
        <div class="container">
            <div class="row">
            
                <div class="col-12">
                    <h3>
                        Other Details</h3>
                </div>
    
            </div>
            <div class="row">
            
    
                <div class="col-6">
    
                    <hr>
                

  <table class="table table-borderless">
                        <tr>
                            <th scope="">Profile created by
                          </th>
                            <th scope="">:  Doesn't Matter</th>
                        </tr>
                    
    </table>
       
                </div>
    
                <div class="col-6">
                    <hr>
    
    
                    <table class="table table-borderless">
                        <tr>
                            <th scope="">Diet
    
    
                            </th>
                            <th scope="">:  Doesn't Matter
                                </th>
                        </tr>


            
                    </table>
                    <a  routerLink="/members/my-profile/edit">Edit<i class="fa-solid fa-caret-right" routerLink="/members/my-profile/edit"></i></a>
    
                </div>
            </div>
        </div>
    
        <!-- My Contact detail -->

        <div class="container">
            <div class="row">

          


          <div class="col-12">
              <h3>My Contact detail
            </h3>
          </div>
        </div>
      </div>
 
      <div class="container">

      <div class="row">
               
        

        <div class="col-6">

            
            <table class="table table-borderless">
                <tr>
                    <th scope="">Mobile<span style="float: right ;">:</span>

                    </th>
                    <th scope=""> {{viewMemberModels.contact_number}}

                        </th>
                </tr>
                
                <tr>
                    <th scope="">Relationship with the member<span style="float: right ;">:</span>

                    </th>
                    <th scope="">  {{viewMemberModels.profilecreatedby}}

                        </th>
                </tr>
                <tr>
                    <th scope="">Convenient Time to Call<span style="float: right ;">:</span>

                    </th>
                    <th scope="">

                        </th>
                </tr>
                <tr>
                    <th scope="">Display Option<span style="float: right ;">:</span>

                    </th>
                    <th scope=""> 

                        </th>
                </tr>




    
            </table>

            
        </div>
        <hr>

      </div>
    </div>

</body>