<div style="background-color: seashell;border: 1px solid #742041;" class="row">
    <div class="col-2"></div>
    <div class="col-8"> <h1 style="text-align: center; background-color: #742041; color: #ffff;padding: 5px;">SAATHIDAAR.COM TERMS AND CONDITIONS :</h1>
        <p>This Agreement sets out the legally binding terms for your use of the Website / Mobile App and
            membership. In these <strong>TERMS AND CONDITIONS</strong> “saathidaar.com” hereinafter should be referred to
            as “we”, “us” or “our” and references to “you”, “User” shall mean the end user accessing the Website or
            Mobile app or social media pages of saathidaar.com”, partner’s mean independent third party service
            providers.</p>
            <p>We have drawn out a <strong>TERMS AND CONDITIONS</strong> statement with regard to the information we collect
                from you. It describes how saathidaar.com collects, uses, discloses and transfers personal
                information of users through its websites and mobile applications, social media pages, online
                services advertising, & it’s partners</p>
                <p>SAATHIDAAR.COM Matchmaking matrimony portal and it's Mobile Application are operated by
                    Eshana Infotech Solutions LLP. The Website and Mobile Application are hereinafter collectively
                    referred to as “Platform”</p>

                    <p>By subscribing to or using any of our services you agree that you have read, understood and are
                        bound by this terms & conditions regardless of how you subscribe to or use the services. For more
                        information regarding the information we collect from Users and how we use it, Users are advised to
                        visit our Privacy Policy. Our Service is a serious matchmaking platform to seek a life partner and is not
                        a casual dating sit</p>

                        <p>If at any time saathidaar.com is of the opinion or has any reason to believe that you are not eligible to
                            become a member or that you have made any misrepresentation,then we reserves the right to
                            forthwith terminate your membership and / or your right to use the Service without any refund to you
                            of any of your subscription fee.</p>

                            <p><strong>If you do not agree to the terms & conditions then we request you to please do not use or access the
                                services offered by saathidaar.com</strong></p>

                        <h1>Terms of Use :</h1>

                        <p><strong>A] To register as a member of Saathidaar.com or use this Site, you must be legally competent and of
                            legal marriageable age as per the laws of India.</strong></p>

                            <p><strong>B] Users wishing to use the information provided on our platform are advised to conduct their own
                                due diligence, in respect of the content on the Platform, at their own initiative, cost and effort. Any
                                advice, recommendations or information provided on the Platform including information of Users may
                                not be necessarily correct, true or reliable, and that any reliance placed thereon and any action taken
                                on the basis thereof shall be entirely / solely at the risk of the concerned User. You are responsible for
                                maintaining the confidentiality of your login credentials you designate during the registration process,
                                and you are solely responsible for all activities that occur under your account</strong></p>

                                <p><strong>C] You agree that we may delete any Profile listing, content, communication, photos that in the sole
                                    judgment of Saathidaar.com violates this Agreement or which might be offensive, illegal, or that might
                                    violate the rights, harm, or threaten the safety of either saathidaar.com and/or its Members.</strong></p>

                                    <p><strong>D] Although we shall take all reasonable precautions, we shall not be responsible in case User Data /
                                        Profile so displayed on the Platform being unauthorisedly copied / printed / published / forged /
                                        superimposed / manipulated or misused by any User. Users shall indemnify Company from all kind of
                                        losses / damages which Company may suffer from any activities carried out by them through
                                        improper use of the Platform/service provided by Company. Under no circumstances will
                                        saathidaar.com be liable in any way for any Content, including, but not limited to, any errors or
                                        omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any
                                        Content posted, emailed, transmitted or otherwise made available via the Service. saathidaar.com
                                        reserves the right to verify the authenticity of profile posted on the platform.</strong></p>

                                        <p><strong>E] You are solely responsible for your communications, any type of dealings, meetings with other
                                            Members on our platform. Saathidaar.com reserves the right, but has no obligation, to monitor
                                            disputes between you and other Members. We have the right to take appropriate action against errant
                                            members. Any profile deleted by us or the profile user cannot be retrieved under any circumstances.
                                            1] any feedback provided by the member / user to saathidaar.com shall be deemed to be
                                            non-confidential. The member / user acknowledge and accepts that we shall by free to use such
                                            feedback without any restriction. Further, by submitting feedback, the member / user also
                                            acknowledge and accept that it does not contain any confidential information of yourself and or any
                                            third party/ies. Therefore, the member / user acknowledges and accepts that he / she is not entitled
                                            to claim any compensation or damages or reimbursement etc. of any kind from saathidaar.com for
                                            the feedback</strong></p>

                                            <h3>F] Terms for Users who are Legally Divorced and Awaiting for Divorce:</h3>

                                            <p>1] Satthidaar.com user/member agrees and acknowledges that, the member who is Legally separated
                                                or Divorced shall provide certified copy of the court order to saathidaar.com or it's users</p>

                                                <p>2] User/ Member agrees and acknowledges that, If they are Awaiting for the Divorce then they should
                                                    provide the certified copy of the petition and certified copy of the list of legal documents passed by
                                                    the Hon’ble court.</p>


                                                    <p>3] Such a users/ members agrees that saathidaar.com will not be held responsible for the authenticity
                                                        of certified Decree of Divorce or any other legal documents, it is the responsibility of the
                                                        saathidaar.com user/member to check the authenticity of the said certified order of Hon’ble court.
                                                        provided by the prospect</p>

                                                        <h3>G] Content & Actions that are illegal or prohibited on the Site :</h3>

                                                        <ul>
                                                        <li>
                                                            Any Content that promotes racism, bigotry, hatred or physical harm of any kind against any
                                                            group, community or individual
                                                        </li>
                                                        <li>
                                                            Seeking fees in any name whatsoever. Gaining or attempting to gain unauthorized access
                                                            (inter alia by hacking, password “mining” or any other means)
                                                        </li>
                                                        <li>
                                                            Copying, extracting, downloading, sharing, modifying, storing, distributing, exploiting any
                                                            content, data, information, including profiles, photographs or graphics, available on the
                                                            Platform.
                                                        </li>
                                                        <li>
                                                            Information that you know is false, misleading which promotes illegal activities or conduct
                                                            that is abusive, threatening, obscene, defamatory or libelous Profile that displays or shares
                                                            pornographic or sexually explicit material of any kind
                                                        </li>
                                                    </ul>


                                                    <p><strong>H] Copyright :</strong> You cannot post, distribute, or reproduce in any way any copyrighted material,
                                                        trademarks, or other proprietary information without obtaining the prior written consent of the owner
                                                        of such proprietary rights. if you believe that your work has been copied and posted on our platform in
                                                        a way that constitutes copyright infringement, then do let us know on or email support.</p>
<p>
   <strong> I] Liability :</strong> Please note that the exchange of profile(s) through our platform should not in any way be
    construed as a matrimonial offer and/or recommendation and / or advice or guarantee given to the
    member, from/ or by saathidaar.com; We will not be liable in case of any improper match made due to
    unavailability of profiles on our portal.We or our partners shall under no circumstances be liable or responsible to the member or his/her
    authorized Representative or Registrant or any third party for any direct, indirect, special, exemplary,
    incidental, or consequential damages of any character including, without limitation, damages resulting
    from the use of our Website/App/Third Party Website/ services.
</p>
<p>
   <strong> J] Jurisdiction:</strong> The registration of your membership and all our services are deemed to have been
    entered into within the territorial Jurisdiction of Nashik, India. If there is any dispute about or involving
    the Site and/or the Service, by using the Site, you unconditionally agree that all such disputes and/or
    differences will be governed by the laws of India and shall be subject to the exclusive jurisdiction of
    the Competent Courts in Nashik, India only.
</p>
<p>
    <strong>K] Indemnity:</strong> By using our services you agree to defend, indemnify, and hold harmless
    Saathidaar.com, its subsidiaries, affiliates, Directors, officers, agents, and other partners and
    employees, fully indemnified and harmless from any loss, damage, liability, claim, or demand,
    including reasonable attorney's fees, made by any person through improper use of the service
    provided by saathidaar.com This defence and indemnification obligation will survive in perpetuity
</p>

<p>
    L] Termination: We reserve our right to terminate your membership or suspend/delete your profile at
our sole discretion without any notice to you and take any action as mentioned in the Terms and
Conditions, in case you :
</p>


<ul>
    <li>I. seek physical / financial favors from our other registered members or</li>
    <li>II. have provided incorrect information on our website/App or</li>
    <li>
III. have committed any fraudulent/ unlawful/ illegal activities through the use of our website/App or

    </li>
    <li>
        IV. have violated this Terms and conditions

    </li>

</ul>



   <h1> M] Mode of Payment and Refund :</h1>

   <p>
    1 - We use third party payment gateways for collection of payment through credit/debit card or other
payment instruments. Payment made by cash / cheque / Net Banking / Debit / Credit Card/ / RTGS/
NEFT/ would be in accordance with the prevailing RBI guidelines. Activation of paid service shall be
subject to realization of the said payment. In case of dishonor of Cheque/demand draft; you shall be
liable to pay applicable bank’s cheque/DD bouncing charges. Further saathidaar.com service to your
account will be deactivated / suspended until you settle the value of the payment and applicable bank
charges.
   </p>

   <p>
    2 - The payments made by any user to saathidaar.com by way of membership / renewal fee / auto
renewal are treated as non-refundable.
   </p>

   <p>
    3 - Payment once made for saathidaar.com services cannot be assigned to any person/party or
adjusted towards any other product or packages provided by the saathidaar.com. Member shall not
assign or transfer your saathidaar.com membership to any other person or entity, and such an act
shall be treated as violation of terms and conditions and we shall retain the right to terminate your
membership
   </p>

   <h3>
    N] Disclaimer:
   </h3>

   <p>1- saathidaar.com is not responsible for any incorrect or inaccurate Content/ Profile listing posted on
    the Site or in connection with the saathidaar.com service, whether caused by Users, Members or by
    any of the equipment or programming associated with or utilized in the Service, nor for the conduct of
    any User and/or Member of the saathidaar.com Service whether in online or offline mode.</p>

    <p>
        2- Your access to and use of the our services or any content is at your own risk. saathidaar.com does
not give any implied or explicit guarantee or warranty of marriage or alliance by you choosing to
register on our Website/App and using our services.
    </p>
    <p>
        3- You should not provide your financial information like your credit card or bank account information,
or wire or otherwise send money, to other Members. We expressly disclaims any liability or
responsibility whatsoever and howsoever arising as a result of any Content/listing posted on the Site /
made available on our platform by any Members or the users of the Site or any third party.
    </p>

    <p>
        4- saathidaar.com is not responsible for any issues relating to any technical malfunction of any
telecommunication network, software, hardware failures, network congestion, denial of service, failure
due to spamming or any combination of the above.
    </p>

    <h3>Updates or Changes on this TERMS AND CONDITIONS:</h3>

    <p>
        We have the right to update, change or modify these terms and conditions at any time. The Terms &
Conditions shall come to effect from the date of publication of such update, change or modification.
You are requested to check the terms and conditions from time to time which is available on our
website saathidaar.com
    </p>

    <strong>● In case you have any complaints or grievances in relation to the processing of your Personal
        Information you can send your email to our grievance officer: complaints@saathidaar.com</strong>

        </div>
        <div class="col-2"></div>
        </div>
