


<br>
<footer class="footer">
    <div class="container">
        <div class="row">


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-about">
                    <div class="footer-logo">
                        <a href="#" class="navbar-brand footerImage"><img  src="/saathidaar/assets/img/hindi logo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer-widget">
                    <h6>hello</h6>
                    <ul>
                        <li><a routerLink="#">Home</a></li>
                        <li><a href="http://eshanagroup.com/eg/" target="_blank">About us</a></li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-3 col-sm-6">
                <div class="footer-widget">
                    <h6>Links</h6>
                    <ul>
                        <!-- <li><a href="#">Member Login</a></li> -->
                        <li><a routerLink="/account/privacy-policy">Privacy Policy</a></li>
                        <!-- <li><a href="#">Customer Support</a></li> -->
                        <li><a routerLink="/account/term-condition">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h6><i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        7030 6000 35</h6>
                        <p style="color: #fff;"><i class="fa fa-envelope" aria-hidden="true"></i> info@saathidaar.com</p>
                    <div class="footer-newslatter">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer-copyright-text">
                    <p class="po">Copyright © 2022 All Rights Reserved.</p>
                </div>
            </div>
        </div>


    </div>

</footer>