


<div class="container">

  
   
   

  <div class="row" *ngFor="let search of searchMemberDetails">

     
      <div class="col-lg-3 col-md-12 col-sm-12"  >
        <img   src="/assets/img/download.jpg" alt="">

        <label class="text-break"  for=""></label>
      

      </div>
      <div   class="col-lg-5 col-md-12  col-sm-12 nameclass ">
        <label  for=""> {{search.first_name}} {{search.last_name}} </label><br>
   
        <label  for="">Age :</label>  <label for=""> {{search.mage}} yrs	</label><br>
        <label for="">Religion </label>  <label for="">{{search.religion}}</label><br>
        <label for="">Marital Status:  </label>  <label for=""> {{search.maritalStatus}}	</label><br>
        <label for="">Income:  </label>  <label for=""> {{search.income}}	</label><br>
      <label for=""> <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a></label><br>
      <a class="colorp" [routerLink]="" (click)="addToShortList(search.member_id)"><i class="fa fa-list-alt" aria-hidden="true" ></i>Add to ShortLists</a> 

      </div>
      <div  class="col-lg-4 col-md-12  col-sm-12 logocircle ">
   
        <tr><th>
        <button type="button" (click)="sentRequests(search.member_id)"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
      </th></tr>
      <tr><th>
        <strong>Like this profile</strong>
        <!-- <strong >   <a class="colorp "  [routerLink]="" role="button" ><i class="fa-solid fa-circle-check"></i></a></strong>  -->
          </th></tr>
      </div>
     </div>
   
    </div> 
