<link href="/assets/icon/css/all.css" rel="stylesheet"> 
    <div class="row bg-img "  id="eachRow"  *ngFor="let search of sentDetails">
        <div style="height: 200px;" class="col-lg-3 col-md-4 col-sm-4 imgnew">
      <!-- **********************************image*************************** -->

      <!-- visible to all -->
      <div *ngIf="search.photo_privacy=='1'">
        <div *ngIf="search.profile_photo!=''">
          <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
          <img style="border: 2px solid black;" data-toggle="modal" data-target="#exampleModal" class="imgnew "
            (click)="callIMageForMemberID(search.member_id)" [src]='imageURL+search.profile_photo' alt="">
          <button style="background-color: #742041;color: #fff;border: none;" type="submit" data-toggle="modal"
            data-target="#exampleModal" (click)="callIMageForMemberID(search.member_id)">See All Photo</button>
        </div>

        <div *ngIf="search.profile_photo==''">
          <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
          <img data-toggle="modal" data-target="#exampleModal" class="imgnew"
            (click)="callIMageForMemberID(search.member_id)" src="{{genderImageURL}}" alt=''>
        </div>
      </div>

      <!-- visible to premium members -->
      <div *ngIf="search.photo_privacy=='2'">
                <!-- 2==2 -->
        <div *ngIf="search.photo_privacy==search.my_premium_status">
          <div *ngIf="search.profile_photo!=''">
            <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
            <img style="border: 2px solid black;" data-toggle="modal" data-target="#exampleModal"
              class="imgnew premiumimg" (click)="callIMageForMemberID(search.member_id)"
              [src]='imageURL+search.profile_photo' alt="">
          </div>

          <div *ngIf="search.profile_photo==''">
            <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
            <img data-toggle="modal" data-target="#exampleModal" class="imgnew"
              (click)="callIMageForMemberID(search.member_id)" src="{{genderImageURL}}" alt=''>
          </div>
        </div>
        <!-- 2!=0 -->
        <div *ngIf="search.photo_privacy!=search.my_premium_status">   
          <div *ngIf="search.profile_photo!=''">
            <span class="primiumIMageBuler"><i class="fa fa-lock" aria-hidden="true"></i> <br>Visible to Premium Members
              <br>
              <a style="color: #fff;" routerLink="/upgrade/plan"> View Plans </a>
            </span>
            <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
            <img style="border: 2px solid black;" data-toggle="modal" data-target="#exampleModal"
              class="imgnew premiumimg" (click)="callIMageForMemberID(search.member_id)"
              [src]='imageURL+search.profile_photo' alt="">
          </div>

          <div *ngIf="search.profile_photo==''">
            <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
            <img data-toggle="modal" data-target="#exampleModal" class="imgnew"
              (click)="callIMageForMemberID(search.member_id)" src="{{genderImageURL}}" alt=''>
          </div>
        </div>
      </div>

      <!-- keep all private , blur to all-->
      <div *ngIf="search.photo_privacy=='3'">
        <div *ngIf="search.profile_photo!=''">
          <span class="primiumIMageBuler"><i class="fa fa-lock" aria-hidden="true"></i> <br>Visible to Premium Members
            <br>
            <a style="color: #fff;" routerLink="/upgrade/plan"> View Plans </a>
          </span>
          <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
          <img style="border: 2px solid black;" data-toggle="modal" data-target="#exampleModal"
            class="imgnew premiumimg " (click)="callIMageForMemberID(search.member_id)"
            [src]='imageURL+search.profile_photo' alt="">
        </div>

        <div *ngIf="search.profile_photo==''">
          <i *ngIf="search.premium_status=='1'" class="fa-solid fa-crown"></i>
          <img data-toggle="modal" data-target="#exampleModal" class="imgnew"
            (click)="callIMageForMemberID(search.member_id)" src="{{genderImageURL}}" alt=''>
        </div>

      </div>

      <!-- ***************************************image ***************************************************** -->


      
        </div>
    
        <div style="height: 200px;" class="col-lg-6 col-md-6 col-sm-6" >
            <div class="feature">
    
                <div  class="name" id="padding-class" >
            
                    {{search.first_name}} {{search.last_name}}
                </div>
                
                <div class="age-height" id="padding-class">
           
                    Age: {{search.mage}} yrs
                </div>
                <div class="city-state" id="padding-class">
           
                    Religion: {{search.religion}}
                </div>
                <div class="expectations" id="padding-class">
                    Marital Status: {{search.maritalStatus}}
                   
                </div>
                <div class="city-state" id="padding-class">
                   
                    Profession:
    
                </div>
                <div  class="city-state" id="padding-class">
                  
                    Income: {{search.income}}
                    <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)"
                        style="color: blue;">read more...</a>
                        <tr>
                            <th  tabindex="0" data-toggle="tooltip" title="Cancel">
                                <button style="border: none;margin-top: 10px;" type="button"  (click)="deletedMemberRequests(search.member_id)" >  <i class="fa fa-times-circle" aria-hidden="true"></i></button> 
                            </th>
                            <th  tabindex="0" data-toggle="tooltip" title="Block">
                                <button style="border: none;margin-top: 10px;" type="button"   (click)="blockmemberID(search.member_id)"><i class="fa fa-ban" aria-hidden="true"></i></button> 
                            </th>
                        </tr>
                </div>
                
            </div>
        </div>
    
        <div style="height: 200px;" class="col-lg-3 col-md-2 col-sm-2 buttonlogo">
      
                
             <tr >
                <th>
                 <button  type="button"  > <i style="font-size: 40px;" class="fa fa-phone-square" aria-hidden="true"></i></button> 
                </th>
            </tr>
    
            <tr >
                <th>
                    <button type="button"  > <i style="font-size: 40px;" class="fa fa-comment" aria-hidden="true"></i></button> 
                </th>
            </tr>
    
            <tr >
                <th>
                    <button type="button"  > Connact Now</button> 
                </th>
            </tr>
           
            
            <tr>
         <th>
      
         </th>
    </tr>
    
            </div>
        </div>
    
    <div class="row  Requests-hide"*ngIf="sentDetails.length == 0">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <img  style="width: 200px;height: 200px;"   src="/saathidaar/assets/img/sad-image.jpg" alt="">
            <p style="color:darkcyan ;">
                There are no accepted invitations<br>
                <!-- <a href="">View My Matches</a> -->
            </p>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    
    



      
    
<!-- *******************************************modal************************* -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <div class="modal-body">
         
            <div class="row">
              <div  class="col-lg-1" ></div>
              <div class="col-lg-10  background">
             <button style="margin-left: 800px; margin-top: 10px;position: absolute;z-index: 36265654655;background-color: azure;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              <div><img style="border: none; width:100%;height: 60px;background-color: transparent;"  src="/saathidaar/assets/img/Scroll_ROD1.png" alt=""></div>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                  <div *ngIf="!loadTIme">  
                      <div class="carousel-item active" *ngIf="demoUrlsActive" >
                        <img [src]='demoUrlsActive[0]' class="d-block w-100"  alt="...">
                      </div>
  
                      <div class="carousel-item"  *ngFor="let url1 of demoUrls;  let  i=index" >
                          <img [src]='url1.member_images' class="d-block w-100" alt="..." (click)="check(url1)">
                      </div>
                    </div>
  
                    <div *ngIf="loadTIme">  
                      <div class="carousel-item active" *ngIf="loadTIme" >
                        <img [src]='seturl' class="d-block w-100"  alt="...">
                      </div>
                                        
                      <div class="carousel-item"  *ngFor="let url1 of demoUrls;  let  i=index" >
                        <img [src]='url1.member_images' class="d-block w-100" alt="..." (click)="check(url1)">
                      </div>
  
                    </div>
  
                    </div>
                    <button class="carousel-control-prev" style="border: none;" type="button" data-target="#carouselExampleControlsNoTouching" data-slide="prev" (click)="change()">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" style="border: none;" type="button" data-target="#carouselExampleControlsNoTouching" data-slide="next" (click)="change()">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                  </div> 
            <div><img style="border: none; width:100%;height: 60px;background-color: transparent;"  src="/saathidaar/assets/img/Scroll_ROD1.png" alt=""></div>
            </div>
            <div  class="col-lg-1" ></div>
  <div class="col-lg-12" >
  <div class="row live__scroll"  >
    <div class="text-center">
                  

        <div style="backdrop-filter: blur(5px);"  *ngFor="let url of demoUrlsModal;  let  i=index"   class=" mt-1 col-3 mt-1 imageb  live__scroll--box"  data-target="#myCarousel"    data-slide-to="i" >
            <img [src]='imageURL+url.member_images'  style="height: 70px ;width: 70px;"  class=" imagebulae" (click)="showimage(imageURL+url.member_images)" alt="..." >
    </div> 
    
  
    
  </div>  
  
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>