<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/icon/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/saathidaar/assets/icon/css/all.css" rel="stylesheet"> 
    <title>Saathidar</title>
</head>
<app-admin-header></app-admin-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>
</html>