<!-- <div class="container">
    <div class="row"> -->
        <!-- <div class="col-3">Filter</div> -->
        <!-- <div class="col-12">
            <div class="container"> -->
                <!-- <button *ngIf="loader" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Data Calling...
                      </button> -->

                <!-- <span *ngIf="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
<!-- 
                <div class="row media col-10 position-relative colorbg1 shadow-lg" id="eachRow"  *ngFor="let search of searchMemberDetails">
                    <div class="col-2">
                        <img *ngIf="search.gender=='men'"  src="/assets/img/Saathidaar_PNG_logo/m-final.jpeg" class="mr-3" alt="...">
                        <img *ngIf="search.gender=='women'"  src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" class="mr-3" alt="...">
                    </div>

                    <div class="col-xs-12 col-sm-8 br" style="color:white;">

                        

                        <div class="feature">
                            <div class="name" id="padding-class" style="font-size:30px;padding-top: 10px;"> -->
                                <!-- {{search.first_name}} {{search.last_name}} -->
                                <!-- {{search.first_name}} {{search.last_name}}
                            </div>
                            <hr style="width:50%;margin-left: 100px;">
                            <div class="age-height" id="padding-class"> -->
                                <!-- {{search.mage}} yrs,{{search.height}} height -->
                                <!-- Age:  {{search.mage}} yrs
                            </div>
                            <div class="city-state" id="padding-class"> -->
                                <!-- {{search.city}}, {{search.state}} -->
                                <!-- Religion: {{search.religion}}
                            </div>
                            <div class="expectations" id="padding-class">
                            marital status:  {{search.maritalStatus}} -->
                                <!-- {{search.expectations | slice:0:60}} -->
                                <!-- <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a> -->
                            <!-- </div> 
                            <div class="city-state" id="padding-class"> -->
                                <!-- {{search.city}}, {{search.state}} -->
                                <!-- Profession: {{search.working_with}}
                            </div>
                            <div class="city-state" id="padding-class"> -->
                                <!-- {{search.city}}, {{search.state}} -->
                                <!-- Income: {{search.income}}
                                <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-2 ">
                        <div *ngIf="!search.request_status">
                            <p class="p1">Like this profile?</p>
                            <a class="btn1" [routerLink]="" role="button" (click)="sentRequests(search.member_id)"><i class="fa-solid fa-circle-check"></i></a>
                             <p>Connect now</p>
                        </div>
                        <div *ngIf="search.request_status">
                            <p class="p1">{{search.request_status}}</p>
                            <a class="btn1" routerLink="/inbox/sent" role="button" ><i class="fa-solid fa-circle-check" style="color:green !important;"></i></a>
                             <p>verify in your sent box</p>
                        </div>
                    </div>
                </div>

                <div *ngIf="loader" class="loader"></div>

            </div>
        </div>
    </div>
</div> -->

<!-- ========================================new line div============================= -->
<div class="container">
   
         
        
           
    <button *ngIf="loader" class="btn btn-primary" type="button" disabled>
           <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
           Data Calling...
         </button> 

   <span *ngIf="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 

   <div class="row media" id="eachRow"  *ngFor="let search of searchMemberDetails">
       
       <div class="col-sm-12 col-md-4 col-lg-3  mtpan">
           <img *ngIf="search.gender=='male'"  src="/assets/img/Saathidaar_PNG_logo/m-final.jpeg" class="mr-3" alt="...">
           <img *ngIf="search.gender=='female'"  src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" class="mr-3" alt="...">

       </div>

       <div class="col-sm-12 col-md-6 col-lg-5 br" style="color:white;">
           

           <div class="feature">
               
               <div class="name" id="padding-class">
                   <!-- {{search.first_name}} {{search.last_name}} -->
                   {{search.first_name}} {{search.last_name}}
               </div>
            
               <div class="age-height" id="padding-class">
                   <!-- {{search.mage}} yrs,{{search.height}} height -->
                   Age:  {{search.mage}} yrs
               </div>
               <div class="city-state" id="padding-class">
                   <!-- {{search.city}}, {{search.state}} -->
                   Religion: {{search.religion}}
               </div>
               <div class="expectations" id="padding-class">
               marital status:  {{search.maritalStatus}}
                   <!-- {{search.expectations | slice:0:60}} -->
                   <!-- <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a> -->
               </div>
               <!-- <div class="city-state" id="padding-class">
                    {{search.city}}, {{search.state}}
                   Profession: 
                     {{search.working_with}} 
               </div> -->
               <div class="city-state" id="padding-class">
                   <!-- {{search.city}}, {{search.state}} -->
                   Income: {{search.income}}
                   <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a>
               </div>
               <div class="city-state" id="padding-class">
           <!-- <a class="colorp" [routerLink]="" (click)="addToShortList(search.member_id)"><i class="fa fa-list-alt" aria-hidden="true" ></i>Add to ShortLists</a>  -->
                   
               </div>
           </div>
           
       </div>
       
       <div class="col-sm-12 col-md-2 col-lg-2 mt3 ">
           
           <div *ngIf="!search.request_status">
   
                  
                 
            
               <a class="colorp "  [routerLink]="" role="button" (click)="sentRequests(search.member_id)"><i class="fa-solid fa-circle-check"></i></a>
                <!-- <p class="colorp colorpflot" style="padding-top: 5px;">Connect now</p>
                 -->
                 <p class="colorp flotleft">Like this profile?</p>
           </div>
           <div *ngIf="search.request_status">
               <p>{{search.request_status}}</p>
               <a  class="colorp" routerLink="/inbox/sent" role="button" ><i class="fa-solid fa-circle-check" style="color:green !important;"></i></a>
                <p class="colorp">verify in your sent box</p>
           </div>
       </div>
   </div>

<!-- 
   <div *ngIf="loader" class="loader"></div> -->
   <mat-spinner *ngIf="loader"></mat-spinner>
</div>


