h3
{
    background-color: #742041; color:#fff; padding: 10px;
}
select{
    margin-left: -18px;
}
#religion1{
    margin-left: 13px;
}
#religion2{
    margin-left: 13px;
}
.multiselect-dropdown[_ngcontent-puw-c50] .dropdown-btn[_ngcontent-puw-c50] .selected-item-container[_ngcontent-puw-c50] .selected-item[_ngcontent-puw-c50]
{
    background-color: #fff;color: black;
}
.multiselect-dropdown[_ngcontent-rih-c50] .dropdown-btn[_ngcontent-rih-c50] .selected-item-container[_ngcontent-rih-c50] .selected-item[_ngcontent-rih-c50] span[_ngcontent-rih-c50] {
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;color: black;
}

.row

{
    margin-top: 30px;
}
.chosen-container-multi .chosen-choices
{
    border: black 1px solid;
}
button
{
    background-color: #742041; color: #fff;
}
p
{
    background-color: #742041;color: #fff;padding: 7px;text-align: center;
}
.bg
{
    margin-top: 15px;
}

@media (min-width: 576px) { 


}

.overlay {
    background: #e9e9e9; 
    display: none;      
    position: absolute; 
    top: 0;                 
    right: 0;              
    bottom: 0;
    left: 0;
    opacity: 0.5;
}