
.fileUpload {
	background: #fff;
  color: #742041;
	font-size: 1em;
   overflow: hidden;
   position: relative;
	text-align: center;
   cursor: pointer;
   padding: 15px;
}
.fileUpload:hover, .fileUpload:active, .fileUpload:focus {

  cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100px;
    height: 100px;
  cursor: pointer;
}

input[type="file"] {
  
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    /* padding: 6px 12px; */
    cursor: pointer;
}
button{
  color: #fff;background-color: #742041;
}