*
{
    color: #fff;
}
.jumbotron
{
    background-image: url('/saathidaar/assets/img/main-bg-new.jpeg');
    background-size: cover;
   height: 800px; 
   margin: 0px;  
}
.btn:hover
{
    color: #ffffff
}
.fa-sign-in
{
    color: #fff;
}
.modal-content
{
    background-color: transparent;border: #ffffff 2px solid;
}
.navbar-expand-lg
{
    background-color: transparent;
}
.navbar-brand
{
    color: #ffff;
}

.btn-login
{
    background-color: transparent;color: #ffff;font-size: 20px;
}
.maginTop
{
    margin-top: 350px;
}
/* img
{
  width: 150px;height: 150px;border: 3px #ffff solid;margin-left: 50px;
}
footer
{
  background-color: #742041; height: 300px; padding: 40px;
}
p{
  color: #ffff; font-size: 15px; padding-left: 50px;
}
.fa-phone
{
  color: #ffff;font-size: 15px;
}

{
  margin: 5px;
}
a
{
  font-size: 20px;color: #ffff;
}
a:hover
{
  border: 1px #ffff solid; border-bottom: none;
}
.b-right
{
  border-left: 1px #ffff solid;
}
.copy
{
  color: #ffff;font-size: 25px; background-color: black; padding: 20px;
} */
* {
    font-family: 'Times New Roman', Times, serifs;font-style: italic;
  }
  .po{
    font-size: 15px;
    font-family: "Nunito Sans" , sans-serif ;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
  }
  img{
    max-width: 100%;
  }
  a{
    text-decoration: none;
  }
  ul{
    padding-left: 0;
  }
  
  input:focus{
    outline: none;
  }
  a:hover,
  a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  
  
  .footer{ 
    background: black;
    padding-top: 70px;
  }
  .footer-about{
    margin-bottom: 30px;
  }
  .footer-about .footer-logo{
    margin-bottom: 30px;
  }
  .footer-about p{
    color: #b7b7b7;
    margin-bottom: 30px;
  }
  .footer-widget{
    margin-bottom: 30px;
  }
  .footer-widget h6{
    color:  #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .footer-widget ul li{
    line-height: 36px;
    list-style: none;
  }
  .footer-widget ul li a{
    color: #b7b7b7;
    font-size: 15px;
  }
  .footer-widget ul li a:hover{
    color: #e53637;
  }
  .footer-widget .footer-newslatter p{
    color: #b7b7b7;
  }
  .footer-widget .footer-newslatter form{
    position: relative;
  }
  .footer-widget .footer-newslatter form input{
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
  }
  .footer-widget .footer-newslatter form input::placeholder{
    color: #b7b7b7;
  }
  .footer-widget .footer-newslatter form button{
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
  }
  .footer-copyright-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
  }
  .footer-copyright-text p{
    color: #b7b7b7;
    margin-bottom: 0;
  }
  .footer-copyright-text p i{
    color: #e53637;
  }
  .footer-copyright-text p a{
    color: #e53637;
  }