<!-- ************************************login admin************************* -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button style="color:  black;background-color:#742041;" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  [(ngModel)]="adminLoginModel.usernameAdmin">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1"  [(ngModel)]="adminLoginModel.passwordAdmin">
            </div>
            <div class="form-group" *ngIf="showMasseage">
            <p style="color: red;">Invalid user name and password combination.</p>
            </div>
         
        </div>
        <div class="modal-footer text-center">
            <button type="submit" style="background-color: #742041;" class="btn " (click)="Adminlogin()"  >Login </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
<div class="container-fulid">
<div class="jumbotron">
<nav  class="navbar navbar-expand-lg  ">
    <a class="navbar-brand" href="#"><strong>Saathidaar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
    
      </ul>
      <form class="form-inline my-2 my-lg-0">
   
        <button class="btn btn-login" type="submit" data-toggle="modal" data-target="#exampleModal">Admin Login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg></button>
      </form>
    </div>
  </nav>


  <div class="row">
    <div class="col-12 text-center maginTop">

        <h1 class="display-4">Saathidaar.com</h1>
        <p class="lead">Saathidaar.com is an Indian online wedding service founded in 1997. Its core market is India, <br>Pakistan, and Bangladesh, but it operates globally, with offices in Canada, the United Arab Emirates, the United</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
  </div>
     
</div>
</div>



<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-about">
                    <div class="footer-logo">
                        <a href="#" class="navbar-brand footerImage"><img  src="/saathidaar/assets/img/logo.footer.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer-widget">
                    <h6>Company</h6>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Terms and Conditions</a></li>


                    </ul>
                </div>
            </div>

            <div class="col-lg-2  col-md-3 col-sm-6">
                <div class="footer-widget">
                    <h6>Company</h6>
                    <ul>

                        <li><a href="#">Member Login</a></li>
                        <li><a href="#">Member Signup</a></li>
                        <li><a href="#">Customer Support</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h6>NewsLetter</h6>
                    <div class="footer-newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your Email">
                            <button type="submit"><span><i class="fa fa-envelope"
                                        arial-hidden="true"></i></span></button>
                        </form>
                    </div>

                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer-copyright-text">
                    <p class="po">Copyright &copy; 2021 All rights reserved | This template is made with <i
                            class="fa fa-heart-o" arial-hidden="true"></i>
                        by </p>
                </div>
            </div>
        </div>


    </div>

</footer>