
  <div class="row">
       <div class="col-3">
    <h3>Filters</h3>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            All Requests
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Premium Requests

        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Most relevant Requests
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Filtered Out Requests
        </label>
      </div>
    </div>
      
    <div class="col-9">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pending Requests</a>
              <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Accepted Requests</a>
              <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Sent Requests</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <div class="container">
    
    
                                <div class="row media col-12 position-relative colorbg1 shadow-lg mt-3" id="eachRow">
                                    <div class="col-2">
                                        <img src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" class="mr-3" alt="...">
                                    </div>
                 
                                    <div class="col-7" style="color:white;">
                                        <div class="feature">
                
                                            <div class="name" id="padding-class" style="font-size:30px;padding-top: 10px;">
                                                <!-- {{search.first_name}} {{search.last_name}} -->
                                                Name
                                            </div>
                                            <hr style="width:50%;margin-left: 100px;">
                                            <div class="age-height" id="padding-class">
                                                <!-- {{search.mage}} yrs,{{search.height}} height -->
                                                Height
                                            </div>
                                            <div class="city-state" id="padding-class">
                                                <!-- {{search.city}}, {{search.state}} -->
                                                State
                                            </div>
                                            <div class="expectations" id="padding-class">
                                                expectations
                                                <!-- {{search.expectations | slice:0:60}} -->
                                                <!-- <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a> -->
                                            </div>
                                            <div id="padding-class">
                                                <label><i class="fa-solid fa-envelope"></i>vitae massa. Fusce luctus vestibulum augue ut aliquet.</label></div>
                                        
                                        <!-- <label>vitae massa. Fusce luctus vestibulum augue ut aliquet.</label> -->
                                    </div>
                                    </div>
                
                                    <div class="col-3 logo-3">
                                        <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-phone"></i>Call</a></div>
                                        <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-whatsapp-square"></i>Whatsapp</a></div>
                                        <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-comment"></i>Saathidar</a></div>
                               
                            
                        </div>
                    </div>
                        <div class="row  Requests-hide">
                            <div class="col-4">
      
                            </div>
                            <div class="col-4">
                                <img src="/assets/img/Requests1-pic.jpg" alt="">
                                <p>
                                  There are no Accepted Requests</p>
      
                          </div>
                          <div class="col-4">
      
                          </div>
      
                          </div>
                 
                </div>
                </div>
                     
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"> 


                <div class="container">
    
    
                    <div class="row media col-12 position-relative colorbg1 shadow-lg mt-3" id="eachRow">
                        <div class="col-2">
                            <img src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" class="mr-3" alt="...">
                        </div>
     
                        <div class="col-7" style="color:white;">
                            <div class="feature">
    
                                <div class="name" id="padding-class" style="font-size:30px;padding-top: 10px;">
                                    <!-- {{search.first_name}} {{search.last_name}} -->
                                    Name
                                </div>
                                <hr style="width:50%;margin-left: 100px;">
                                <div class="age-height" id="padding-class">
                                    <!-- {{search.mage}} yrs,{{search.height}} height -->
                                    Height
                                </div>
                                <div class="city-state" id="padding-class">
                                    <!-- {{search.city}}, {{search.state}} -->
                                    State
                                </div>
                                <div class="expectations" id="padding-class">
                                    expectations
                                    <!-- {{search.expectations | slice:0:60}} -->
                                    <!-- <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a> -->
                                </div>
                                <div id="padding-class">
                                    <label><i class="fa-solid fa-envelope"></i>vitae massa. Fusce luctus vestibulum augue ut aliquet.</label></div>
                            
                            <!-- <label>vitae massa. Fusce luctus vestibulum augue ut aliquet.</label> -->
                        </div>
                        </div>
    
                        <div class="col-3 logo-3">
                            <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-phone"></i>Call</a></div>
                            <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-whatsapp-square"></i>Whatsapp</a></div>
                            <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-comment"></i>Saathidar</a></div>
                   
                
            </div>
        </div>
            <div class="row  Requests-hide">
                <div class="col-4">

                </div>
                <div class="col-4">
                    <img src="/assets/img/Requests1-pic.jpg" alt="">
                    <p>
                      There are no Accepted Requests</p>

              </div>
              <div class="col-4">

              </div>

              </div>
     
    </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                <div class="container">
    
    
                    <div class="row media col-12 position-relative colorbg1 shadow-lg mt-3" id="eachRow">
                        <div class="col-2">
                            <img src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" class="mr-3" alt="...">
                        </div>
     
                        <div class="col-7" style="color:white;">
                            <div class="feature">
    
                                <div class="name" id="padding-class" style="font-size:30px;padding-top: 10px;">
                                    <!-- {{search.first_name}} {{search.last_name}} -->
                                    Name
                                </div>
                                <hr style="width:50%;margin-left: 100px;">
                                <div class="age-height" id="padding-class">
                                    <!-- {{search.mage}} yrs,{{search.height}} height -->
                                    Height
                                </div>
                                <div class="city-state" id="padding-class">
                                    <!-- {{search.city}}, {{search.state}} -->
                                    State
                                </div>
                                <div class="expectations" id="padding-class">
                                    expectations
                                    <!-- {{search.expectations | slice:0:60}} -->
                                    <!-- <a [routerLink]="" (click)="singleViewMemberDetails(search.member_id)" style="color: blue;">read more...</a> -->
                                </div>
                                <div id="padding-class">
                                    <label><i class="fa-solid fa-envelope"></i>vitae massa. Fusce luctus vestibulum augue ut aliquet.</label></div>
                            
                            <!-- <label>vitae massa. Fusce luctus vestibulum augue ut aliquet.</label> -->
                        </div>
                        </div>
    
                        <div class="col-3 logo-3">
                            <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-phone"></i>Call</a></div>
                            <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-whatsapp-square"></i>Whatsapp</a></div>
                            <div class="col-8"><a class="btn" href="#" role="button"><i class="fa-solid fa-comment"></i>Saathidar</a></div>
                   
                
            </div>
        </div>
            <div class="row  Requests-hide">
                <div class="col-4">

                </div>
                <div class="col-4">
                    <img src="/assets/img/Requests1-pic.jpg" alt="">
                    <p>
                      There are no Accepted Requests</p>

              </div>
              <div class="col-4">

              </div>

              </div>
     
    </div>

            </div>
          </div>


    </div>




    </div>