h3
{
    background-color:#742041;
    padding: 5px;color: #fff;text-align: center;margin-top: 50px;
}
.form-check
{
    border-bottom:  #742041 1px solid;margin: 5px;
}


img
{
    height: 200px;width: auto; border-radius: 50%;padding: 20px;
}
.colorbg
{
    background-color:#742041;
}
/* li
{
    list-style: none;font-size: 13px;color: #fff;
} */
.fa-solid 
{
    padding: 10px;
}

shadow {
    box-shadow: 5px 5px 5px rgba(0,0,0,.100)!important;
}
.colorbg1
{
    background-color: #a1395f;
}
hr
{
 border-bottom: 1px white solid;
}

#more {display: none;}
p
{
    color: #fff;font-size: 13px;
}
input~i
{
    font-size: 70px;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
  label img 
  {
      width: 70px;height: 70px;margin-top: 30px;
  }
  label p
  {
      margin-left: 18px;
  }
.name
{ font-size: 20px;}
/* .container
{
    margin-top: 30px;
} */
.border
{
    border-bottom: 4px black solid;margin-top: 40px;
}

/* ---------------------------------------------------------------------------------------------------- */



.search-list{
    list-style: none;font-size: 13px;color: #fff;
}

#padding-class{
    padding-left: 100px;
    padding-bottom: 10px;
    text-align: left;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /* text-align: center; */
    margin-left: 25%;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* ------------------div hyperlink for search member list------------------ */

  div.feature {
    position: relative;
}

div.feature a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.row
{
    margin-bottom: 20px;
}
.headpending
{
    border-bottom:  #742041 3px solid;font-size: 25px;color: #742041;margin-top: 20px;
}
.headpending:hover
{
  background-color: #742041;color: #fff;padding: 5px;
}

#more {display: none;}

h3
{
    background-color:#742041;
    padding: 5px;color: #fff;text-align: center;margin-top: 60px;
}
.form-check
{
    border-bottom:  #742041 1px solid;margin: 5px;
}
.btn
{
    background-color:#fff; color:black;width: 140px;margin-top: 25px;float: left;font-size: 12px;text-align: left;
    height: 50px;
}

.btn:hover
{
    background-color: #742041;color: #fff;
}
.fa-whatsapp
{
    text-align: center;
}
.logo-3
{
    border-left: #fff 1px solid;
}
.fa-solid
{
    font-size: 19px;
}
nav
{
    margin-top: 20px;
}
.nav-link:hover
{
    background-color: #742041; color: #FFF;
}
.nav-link
{
    color: black;border:#742041 1px solid;
}
.Requests-hide
{
    border: #742041 2px solid;  height: 300px;width: 800px;background-color: transparent;
}
img~p
{
    color: black;font-size: 15px;
}