<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link href="/assets/css/searchbarcss.css" rel="stylesheet">
    <link href="/assets/css/member-single-view.css" rel="stylesheet">
    <link href="/assets/css/DashBoard.css" rel="stylesheet">
    <link href="/assets/css/my-profile.css" rel="stylesheet">
    <link href="/assets/css/MyPhotos.css" rel="stylesheet">
    <link href="/assets/css/ragistration.css" rel="stylesheet">
    <link href="/assets/css/plans.css" rel="stylesheet">
    <link href="/assets/css/search-bar.css" rel="stylesheet"> -->
    <!-- <link href="/assets/icon/css/all.css" rel="stylesheet"> -->
    <link href="/saathidaar/assets/icon/css/all.css" rel="stylesheet"> 
    <title>Saathidar</title>
</head>

 <app-inbox-header></app-inbox-header>
<div class="container">
    <div class="row">
         <div style="border:  1px solid #742041 ; height: 150px;" class="col-lg-3 col-sm-12 ">
            <h3 style="background-color:#742041  ;color: #fff;padding: 10px;">Filters</h3>
             
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    All Requests
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Premium Requests
        
                </label>
              </div>
        </div> 
        <div class="col-lg-9 col-sm-12 ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-inbox-footer></app-inbox-footer>

<script src="/assets/js/jquery-3.6.0.min.js"></script>

</html>