<div style="background-color: seashell;border: 1px solid #742041;" class="row">
    <div class="col-2"></div>
    <div class="col-8"> <h1 style="text-align: center; background-color: #742041; color: #ffff;padding: 5px;">SAATHIDAAR.COM PRIVACY POLICY AGREEMENT </h1>
        <p>In this Privacy Policy “saathidaar.com” hereinafter should be referred to as “we”, “us” or “our”
            and references to “you”, “User” shall mean the end user accessing the Website or Mobile app
            or social media pages of saathidaar.com”, partner’s mean independent third party service
            providers</p>
            <p>We are strongly committed to your right to privacy, we have drawn out a privacy statement
                with regard to the information we collect from you. This Privacy Policy ("Policy") describes
                how saathidaar.com collects, uses, discloses and transfers personal information of users
                through its websites and mobile applications, social media pages, online services
                advertising, & it’s partners</p>
                <p><strong> By Subscribing to or using any of our services you agree that you have read, understood
                    and are bound by this privacy policy regardless of how you subscribe to or use the
                    services.</strong></p>
                    <p><strong>If you do not agree to the privacy policy then we request you to please do not use or access
                        the services offered by saathidaar.com</strong></p>

                        <h3>A] Type of information you need to give in order to use our services.</h3>

                        <p>The user information we collect depends on the context of your interactions with us and the website or Apps, the
                            choices you make and the products and features you use. You hereby provide your consent to collect, process,
                            and share of your personal information in order to provide our service</p>
                            <p>While registering for our service We collect your Personal Information such as name, your gender, date of birth,
                                contact details, educational qualification, employment details, photos, occupation, income, marital status, your
                                interests & any other information you have provided or shared with our customer care team. Verification
                                documents on age, address, income, are used to provide additional credibility to your profile. We collect
                                Information submitted by you voluntarily while participating in surveys contest, promotions or events</p>

                          <p>In addition to the information you provide us directly, we receive information about you from others your social
                            media account if you access our Platform, or otherwise connect your social media account with our services. you
                            consent to the information that you make available to us through the social media interface. along with this we
                            may collect your Device Information such as IP address or device ID. Please note that you also give your consent
                            for SMS permission, we send your account information via SMS for this purpose we need the SMS permission
                            consent</p> 
                            
                            <h3>
                                B] Why we collect & how we use the information you have provided to us:
                            </h3>
                            <p>Our use of your personal data depends on the purpose for which how you interact with us. We use the
                                information submitted by you so that we can provide our matrimony service and to create a best experience to
                                you. We send Profile alerts, promotional messages via emails, app notifications & through SMS or call alerts.</p>

                                <p>
                                    We will disclose your information as & when required by law and when we believe that disclosure is necessary to
protect our rights, other members interest and protection and to comply with a judicial proceeding, court order, or
legal process served on our website or app or social media pages.
                                </p>

                                <p>We along with our third-party partners, such as advertising & analytics partners uses cookies, tags and other
                                    technologies. when you use any of the of our services from website or mobile apps Cookies are used. Cookies
                                    also help us keep your account safe. By continuing to visit or use our services, you are agreeing to the use of
                                    cookies and similar technologies for the purposes we describe in this policy. If you prefer not to receive cookies
                                    or web beacons, then you should stop using our site. you can control their use, through your browser settings and
                                    other tools.</p>

                                    <p><strong>Cookies</strong>  are small files which are stored on a user's computer. They are designed to hold a modest amount of
                                        data specific to a particular client and website, and can be accessed either by the web server or the client
                                        computer. This allows the server to deliver a page tailored to a particular user, or the page itself can contain some
                                        script which is aware of the data in the cookie and so is able to carry information from one visit to the website (or
                                        related site) to the next</p>

                                        <p><strong>Information Sharing :</strong> Third-party service providers help us deliver, website and application development, hosting,
                                            maintenance, backup, storage, payment processing, and other services.
                                            If a service provider needs to access information about you to perform services on our behalf, they do so under
                                            close observation & procedures designed from us to protect your information.
                                            Along with our employees all of our service providers and partners agree to strict confidentiality obligations.</p>

                                            <p><strong>Third Party Content:</strong> Please be aware that the Platform sometimes contains links to other sites that are not
                                                governed by this Privacy Policy. Users may be directed to third-party sites for more information, such as
                                                advertisers, blogs, content sponsorships, vendor services, social networks. We make no representations or
                                                warranties regarding how your information is stored or used on third-party servers. We recommend that you
                                                review the applicable privacy statements and policies of each third-party site linked from the Platform to
                                                determine their use of your personal information.</p>

                                    <h3>C] Updates or Changes on this Privacy Policy Agreement:</h3>

                                    <p>We have the right to update, change or modify this Privacy Policy at any time. The Privacy Policy shall come to
                                        effect from the date of publication of such update, change or modification. You are requested to check the
                                        privacy policy from time to time which is available on our website</p>

                                        <strong>● In case you have any complaints or grievances in relation to the processing of your Personal
                                            Information you can send your email to our grievance officer: complaints@saathidaar.com</strong>
    </div>
    <div class="col-2"></div>
       
</div>
