 

    

   <!-- =================================== new================================== -->
   <div class="col-lg-12">
    <!-- <button type="button" (click)="previous()" style="float: left ;">Previous</button>
    <button type="button"(click)="Next()" style="float: right;">Next</button> -->

    <button type="button" (click)="previous()" class="btn btn-primary">Previous</button>
    <button  style="float: right;" type="button" (click)="Next()" class="btn btn-primary">Next</button>
  </div>
     <div  class="container">
        
  
  <div class="col-12"><img style="border: none; width:100%;"  src="/assets/img/Scroll_ROD1.png" alt=""></div>
  
  <div class="hidden-menu   " style="display: none; border: 10px solid #d8aa3c;">
   
  <div class="row">
    <div class="col-lg-4 leftpadding">
      <div class="col-4 imgt" ng-if="memberDetails.gender=='men'">
        <img src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" alt="" />
        {{preferenceDetails.gender_preference}}
    </div>
    <!-- <div class="col-4 imgt" ng-if="memberDetails.gender=='women'">
        <img src="/assets/img/Saathidaar_PNG_logo/m-final.jpeg" alt="" />
        <p> {{preferenceDetails.gender_preference}}</p>
    </div> -->
    </div>
    <div class="col-lg-8 mt-3">
      <label for="">{{memberDetails.first_name}} {{memberDetails.last_name}} </label>
      <hr>
 

     
      <label for="age" ng-if="memberDetails.age">Age - {{memberDetails.age}} yrs </label><br>
      <!-- <label for="age" ng-if="!memberDetails.age">Age - Not Specify </label> -->
        
      <label for="marital_status" ng-if="memberDetails.maritalStatus">Marital Status -{{memberDetails.maritalStatus}}</label><br>
      <!-- <label for="marital_status" ng-if="!memberDetails.maritalStatus">Marital Status -Not Specify</label><br> -->

      <label  class="labelcol" for="height" ng-if="memberDetails.height"> Height - {{memberDetails.height}} </label><br>
      <!-- <label  class="labelcol" for="height" ng-if="!memberDetails.height"> Height - Not Specify</label> -->
      <label for="">Religion</label><br>
      
    <label class="" for="cast_subcast" ng-if="memberDetails.caste">Community -  {{memberDetails.caste}} </label><br>
    <!-- <label class="" for="cast_subcast" ng-if="!memberDetails.caste">Community - Not Specify </label> -->
    <label class="" for="mother_tongue" ng-if="memberDetails.mother_tounge">Mother Tongue - {{memberDetails.mother_tounge}} </label><br>
    <!-- <label class="" for="mother_tongue" ng-if="!memberDetails.mother_tounge">Mother Tongue - Not Specify </label><br> -->
  
    <label class="" for="degree" ng-if="memberDetails.highest_qualification">Qualification -{{memberDetails.highest_qualification}}</label><br>
     <!-- <label class="" for="degree"
    ng-if="!memberDetails.highest_qualification">Qualification - Not Specify</label> -->
    <label class="" for="city_state" ng-if="memberDetails.city">City - {{memberDetails.city}}</label>
    <!-- <label class="" for="city_state" ng-if="!memberDetails.city">City - Not Specify</label> -->
     
    </div>
  
  
  
  </div>
  <hr>
  
  <div style="padding:10px ;" class="col-12">
    <div ng-if="memberDetails.about_ourself">
        <h3>About {{memberDetails.first_name}} {{memberDetails.last_name}} </h3>
        <div style="color:black" [innerHTML]="memberDetails.about_ourself"></div>
    </div>
    <!-- <div ng-if="!memberDetails.about_ourself"> Not Specify -->
 
    <hr>
  
    <h1>
      Contact Details</h1>
  
      <label class="labelcol" for=""><i class="fa-solid fa-mobile-screen-button"></i> Contact Number :</label><label for="">{{memberDetails.contact_number}}</label><br>
      <label  class="labelcol" for=""><i class="fa-solid fa-envelope"></i> Email ID :</label><label for="">{{memberDetails.email_id}}</label>
  <hr>
  
      <h1> Lifestyle</h1>
      <div ng-if="memberDetails.lifestyles">
        {{memberDetails.lifestyles}}
    </div>
    <!-- <div ng-if="!memberDetails.lifestyles">
        Not Specify
    </div> -->

  
      <hr>
      <h1>Background</h1>
  
      <label class="cast" ng-if="memberDetails.caste">Community - {{memberDetails.caste}} </label>
      <!-- <label class="cast" ng-if="!memberDetails.caste">Community - Not Specify </label> -->

    
     <label class="" for="city_state" ng-if="memberDetails.state">State -
        {{memberDetails.state}}</label>
    <!-- <label class="" for="city_state" ng-if="!memberDetails.state">State - No Specify</label> -->
    <hr>
   <h1>Education & Career</h1>
        <label ng-if="memberDetails.highest_qualification">Highest Qualification -
            {{memberDetails.highest_qualification}}</label>
        <!-- <label ng-if="!memberDetails.highest_qualification">Highest Qualification -  {{memberDetails.highest_qualification}}</label><br> -->
        <hr>
<h1>Family Details</h1>

<label ng-if="memberDetails.family_location">Family Location :  {{memberDetails.family_location}}</label>
<!-- <label ng-if="!memberDetails.family_location">Family Location - Not Specify</label> -->


<label ng-if="memberDetails.native_place">Native Place :{{memberDetails.native_place}} </label><br>

<!-- <label ng-if="!memberDetails.native_place">Native Place - Not Specify</label> -->
<br>
<label ng-if="memberDetails.family_type">Family Type : {{memberDetails.family_type}} </label><br>

<!-- <label ng-if="!memberDetails.family_type">Family Type - Not Specify</label> -->
<div style="width: 30px;"></div>
<label ng-if="memberDetails.familyValues">Family Values : {{memberDetails.familyValues}} </label>

<!-- <label ng-if="!memberDetails.familyValues">Family Values - Not Specify</label> -->
<br>
<label ng-if="memberDetails.family_affluence">Family Affluence : {{memberDetails.family_affluence}}</label><br>

<!-- <label ng-if="!memberDetails.family_affluence">Family Affluence - Not Specify</label><br> -->

        
        <br>
          <label for=""> Arts / Design</label><br>
  
            <label class="" for="working" ng-if="memberDetails.working_with">Working With -{{memberDetails.working_with}}</label>
            <!-- <label class="" for="working" ng-if="!memberDetails.working_with">Working With - Not Specify</label> -->
            
            <br>
            <label class="" for="income" ng-if="memberDetails.annual_income">Annual Income - {{memberDetails.annual_income}}</label>
            <!-- <label class="" for="income" ng-if="!memberDetails.annual_income">Annual Income - Not Specify</label> -->
  
  <hr>

     
  <h1> What She Is Looking For</h1>
  <div class="row">
   
    <div class="col-lg-4">  <img style="border-radius:50% ; margin-left: 5px; height: 170px;" src="/assets/img/download.jpg" alt=""></div>
    <div class="col-lg-4"> <p class="mt-5" style="font-size: 12px ;text-align: center;">You match {{preferenceDetails.match_count}}/{{preferenceDetails.total_preference}}    {{preferenceDetails.gender_preference}}of her Preferences
    </p></div>
    <div class="col-lg-4">  <img  style="float: right ; border-radius: 50%; margin-right: 5px;  height: 170px;"  src="/assets/img/images-one-side.jpg" alt=""></div>
    
 
  <hr>
  
  
    
  
   
  <div style="padding: 15px ;" class="col-12">
    <hr>
    
    <label class="mother tounge" ng-if="memberDetails.mother_tounge">Mother Tounge </label><br>
    <label for="">{{memberDetails.mother_tounge}}</label>
    <!-- <label class="mother tounge" ng-if="!memberDetails.mother_tounge">Mother Tounge - Not Specify</label><label style="float: right;" for=""><strong>-</strong></label><br> -->
  
   <hr>
    
    <label class="state" ng-if="memberDetails.state">State</label><br>
    <label for="">{{memberDetails.state}}</label>
    <!-- <label class="state" ng-if="!memberDetails.state">State - Not Specify</label> -->
    <hr>
    
      <label class="country" ng-if="memberDetails.country_name">Country </label><br>
      <label for="">  {{memberDetails.country_name}}</label>
    <!-- <label class="country" ng-if="!memberDetails.country_name">Country - Not Specify</label> -->

    <hr>
  
   
    
   <div>
    <label ng-if="memberDetails.annual_income">Annual Income</label><br>
    <label for="">{{memberDetails.annual_income}}</label>
    <!-- <label ng-if="!memberDetails.annual_income"> Annual Income - Not Specify</label><br> -->
    <hr>

    <label class="subcaste" ng-if="memberDetails.subcaste">Sub Community </label><br>
    <label>    {{memberDetails.subcaste}}</label>

<hr>
    <!-- <label class="subcaste" ng-if="!memberDetails.subcaste"> Sub Community - Not Specify</label><br> -->
    <label class="city" ng-if="memberDetails.city">City </label><br>
    <label for="">{{memberDetails.city}}</label>
    <hr>
    <!-- <label class="city" ng-if="!memberDetails.city">City - Not Specify</label><br> -->

    <!-- <label ng-if="memberDetails.father_status">Father Status - {{memberDetails.father_status}}</label> -->
    <!-- <label ng-if="!memberDetails.father_status">Father Status - Not Specify</label><br> -->
    
    <!-- <label ng-if="memberDetails.father_company_name">Father Company Name - -->
        <!-- {{memberDetails.father_company_name}}</label><br> -->
<!-- 
        <label ng-if="memberDetails.father_designation">Father Designation -
            {{memberDetails.father_designation}}</label>
     -->

        <!-- <label ng-if="memberDetails.father_business_name">Father Business -
            {{memberDetails.father_business_name}}</label><br> -->
<!-- 
            <label ng-if="memberDetails.mother_status">Mother Status -
                {{memberDetails.mother_status}}</label> -->
            <!-- <label ng-if="!memberDetails.mother_status">Mother Status - Not Specify</label> -->
<!-- 
          
            <label ng-if="memberDetails.mother_company_name">Mother Company Name -
                {{memberDetails.mother_company_name}}</label> -->
          
            <br>
            <!-- <label ng-if="memberDetails.mother_designation">Mother Designation -
                {{memberDetails.mother_designation}}</label> -->
   

<!--         
            <label ng-if="memberDetails.mother_business_name">Mother Business -
                {{memberDetails.mother_business_name}}</label><br> -->

                <!-- <label ng-if="memberDetails.family_location">Family Location -
                    {{memberDetails.family_location}}</label> -->
                <!-- <label ng-if="!memberDetails.family_location">Family Location - Not Specify</label> -->
                <div style="width: 30px;"></div>

              

                <label ng-if="memberDetails.working_as">Working As </label><br>
                <label for=""> {{memberDetails.working_as}}</label>
                <!-- <label ng-if="!memberDetails.working_as">Working As - Not Specify</label><br> -->

                <label ng-if="memberDetails.working_details">Working Details</label><br>
                <label for="">{{memberDetails.working_details}}</label>
                <!-- <label ng-if="!memberDetails.working_details">Working Details - Not Specify</label><br> -->
              
                    <h3>{{preferenceDetails.title}}</h3>
              
               <hr>
                    
                        <label for="">Age</label><br>
                        <label class="age">{{preferenceDetails.partner_age}}</label>
                        <!-- <i ng-if="preferenceDetails.my_age=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_age=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_age=='BLANK'" class="fa-solid fa-minus"></i> -->
                   
                    <hr>

              
                
                        <label for="">Marital Status</label><br>
                        <label class="age">{{preferenceDetails.partner_marital_status}}</label>
                        <!-- <i ng-if="preferenceDetails.my_marital_status=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_marital_status=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_marital_status=='BLANK'" class="fa-solid fa-minus"></i> -->
                
                    <hr>


                 
                        <label for="">Religion / Community</label><br>
                        <label class="age">{{preferenceDetails.partner_religions}}</label>
                        <!-- <i ng-if="preferenceDetails.my_religions=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_religions=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_religions=='BLANK'" class="fa-solid fa-minus"></i> -->
                  
                    <hr>

                        <label for="">Mother Tongue</label><br>
                        <label class="age">{{preferenceDetails.partner_mother_tongue}}</label>
                        <!-- <i ng-if="preferenceDetails.my_mother_tongue=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_mother_tongue=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_mother_tongue=='BLANK'" class="fa-solid fa-minus"></i> -->
               

                    <hr>
              
                        <label for="">Country Living in</label><br>
                        <label class="age">{{preferenceDetails.partner_country}}</label>
                        <!-- <i ng-if="preferenceDetails.my_country=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_country=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_country=='BLANK'" class="fa-solid fa-minus"></i> -->
                  

                    <hr>
               
                        <label for="">State Living in</label><br>
                        <label class="age">{{preferenceDetails.partner_state}}</label>
                        <!-- <i ng-if="preferenceDetails.my_state=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_state=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_state=='BLANK'" class="fa-solid fa-minus"></i> -->
                 

                    <hr>
                
                        <label for="">City Living in</label><br>
                        <label class="age">{{preferenceDetails.partner_city}}</label>
                        <!-- <i ng-if="preferenceDetails.my_city=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_city=='NO'" class="fa-solid fa-xmark"></i> -->
        
                    <hr>

            
                        <label for="">Qualifications</label><br>
                        <label class="age">{{preferenceDetails.partner_qualification}}</label>
                        <!-- <i ng-if="preferenceDetails.my_qualification=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_qualification=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_qualification=='BLANK'" class="fa-solid fa-minus"></i> -->
              
                    <hr>

            
                        <label for="">Working With</label><br>
                        <label class="age">{{preferenceDetails.partner_working_with}}</label>
                        <!-- <i ng-if="preferenceDetails.my_working_with=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_working_with=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_working_with=='BLANK'" class="fa-solid fa-minus"></i> -->
                
                    <hr>



                        <label for="">Annual Income</label><br>
                        <label class="age">{{preferenceDetails.partner_annual_income}}</label>
                        <!-- <i ng-if="preferenceDetails.my_annual_income=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i ng-if="preferenceDetails.my_annual_income=='NO'" class="fa-solid fa-xmark"></i>
                        <i ng-if="preferenceDetails.my_annual_income=='BLANK'" class="fa-solid fa-minus"></i> -->
                    
                    <hr>
                
</div>
</div>
</div>
              </div></div>
        
  
  
 

  <div class="col-12"><img style="border: none; width:100%;"  src="/assets/img/Scroll_ROD1.png" alt=""></div>
    
  