<div class="row">
    <div class="col-lg-6"> </div>
    <div class="col-lg-6 next">
      <div class="next">
      <!-- <a  href="#" (click)="previous()">prev</a> -->
      <button (click)="previous()">prev</button>
    <div *ngIf="memberDetails.gender=='men'">  <img src="/assets/img/Saathidaar_PNG_logo/m-final.jpeg" alt=""></div>
    <div *ngIf="memberDetails.gender=='women'"> <img src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" alt=""></div>
      <!-- <a  href="#" (click)="Next()">Next</a> -->
      <button (click)="Next()">next</button>
      
    </div>

       </div>
  </div>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-12 colorbg1 shadow-lg">
                <div class="row">
                    <div class="col-4 imgt" *ngIf="memberDetails.gender=='men'">
                        <img src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" alt="" />
                    </div>
                    <div class="col-4 imgt" *ngIf="memberDetails.gender=='women'">
                        <img src="/assets/img/Saathidaar_PNG_logo/m-final.jpeg" alt="" />
                    </div>
                    <div class="media col-3 position-relative">
                        <div class="media-body">
                            <ul>
                                <li>
                                    <label class="name" for="nameResult">{{memberDetails.first_name}}
                                        {{memberDetails.last_name}} </label>
                                </li>
                                <hr>
                                <li>
                                    <label for="age" *ngIf="memberDetails.age">Age - {{memberDetails.age}} yrs </label>
                                    <!-- <label for="age" *ngIf="!memberDetails.age">Age - Not Specify </label> -->

                                    <label for="height" *ngIf="memberDetails.height"> Height - {{memberDetails.height}}
                                    </label>
                                    <label for="height" *ngIf="!memberDetails.height"> Height - Not Specify</label>
                                </li>
                                <li>
                                    <label class="" for="mother_tongue" *ngIf="memberDetails.mother_tounge">Mother
                                        Tongue - {{memberDetails.mother_tounge}} </label>
                                    <label class="" for="mother_tongue" *ngIf="!memberDetails.mother_tounge">Mother
                                        Tongue - Not Specify </label>
                                </li>
                                <li>
                                    <label class="" for="cast_subcast" *ngIf="memberDetails.caste">Community -
                                        {{memberDetails.caste}} </label>
                                    <label class="" for="cast_subcast" *ngIf="!memberDetails.caste">Community - Not
                                        Specify </label>

                                    <label class="" for="cast_subcast" *ngIf="memberDetails.subcaste">Sub-Community -
                                        {{memberDetails.subcaste}}</label>
                                    <label class="" for="cast_subcast" *ngIf="!memberDetails.subcaste">Sub-Community -
                                        Not Specify</label>
                                </li>
                                <li>
                                    <label class="" for="degree"
                                        *ngIf="memberDetails.highest_qualification">Qualification -
                                        {{memberDetails.highest_qualification}}</label>
                                    <label class="" for="degree"
                                        *ngIf="!memberDetails.highest_qualification">Qualification - Not Specify
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="media col-3 position-relative pt">
                        <div class="media-body">
                            <ul>
                                <li>
                                    <label for="marital_status" *ngIf="memberDetails.maritalStatus">Marital Status -
                                        {{memberDetails.maritalStatus}}</label>
                                    <label for="marital_status" *ngIf="!memberDetails.maritalStatus">Marital Status -
                                        Not Specify</label>
                                </li>
                                <li>
                                    <label class="" for="city_state" *ngIf="memberDetails.city">City -
                                        {{memberDetails.city}}</label>
                                    <label class="" for="city_state" *ngIf="!memberDetails.city">City - Not
                                        Specify</label>
                                    <div style="width: 10px;"></div>
                                    <label class="" for="city_state" *ngIf="memberDetails.state">State -
                                        {{memberDetails.state}}</label>
                                    <label class="" for="city_state" *ngIf="!memberDetails.state">State - Not
                                        Specify</label>
                                </li>
                                <li>
                                    <label class="" for="working" *ngIf="memberDetails.working_with">Working With -
                                        {{memberDetails.working_with}}</label>
                                    <label class="" for="working" *ngIf="!memberDetails.working_with">Working With - Not
                                        Specify</label>
                                </li>
                                <li>
                                    <label class="" for="income" *ngIf="memberDetails.annual_income">Annual Income -
                                        {{memberDetails.annual_income}}</label>
                                    <label class="" for="income" *ngIf="!memberDetails.annual_income">Annual Income -
                                        Not Specify</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 imgb">
                        <label>
                            <input type="radio" name="test" value="correct" checked>
                            <img src="/assets/img/logo-carreact.jpg">
                            <p>Accept</p>
                        </label>
                        <hr>
                        <label>
                            <input type="radio" name="test" value="decline">
                            <img src="/assets/img/logo-dicline.png">
                            <p>Decline</p>
                        </label>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-8 detaile">
                <a routerLink='' style="color:white">Detailed Profile</a>
                <a routerLink='' style="color:white">Partner</a>
                <hr>
                <div *ngIf="memberDetails.about_ourself">
                    <h3>About {{memberDetails.first_name}} {{memberDetails.last_name}} </h3>
                    <div style="color:white" [innerHTML]="memberDetails.about_ourself"></div>
                </div>
                <div *ngIf="!memberDetails.about_ourself"> Not Specify
                </div>
                <hr>
                <div class="row">
                    <div class="6 dd">
                        <h3><i class="fa-solid fa-address-card"></i>Contact Details</h3>
                        <ul class="ContactDetails">
                            <label for=""><i class="fa-solid fa-phone"></i>{{memberDetails.contact_number}}</label><br>
                            <br>
                            <label for=""><i class="fa-solid fa-envelope"></i>{{memberDetails.email_id}}</label><br>
                        </ul>
                    </div>
                    <div class="6">
                        <ul class="Upgrade">
                            <p><a href=""><i class="fa-solid fa-arrow-right-long"></i>Upgrade Now to view details</a>
                            </p>
                        </ul>
                    </div>
                </div>
                <hr>
                <h3>Lifestyle</h3>
                <div *ngIf="memberDetails.Lifestyle">
                    {{memberDetails.Lifestyle}}
                </div>
                <div *ngIf="!memberDetails.Lifestyle">
                    Not Specify
                </div>

                <!-- show icon lifestyle wise -->
                <!-- <label class="Veg" for="">Veg</label>
                <label class="Veg" for="">non Veg</label>
                <label class="Veg" for="">Vegan</label>
                <label class="Veg" for="">Occasionally non-veg</label>
                <label class="Veg" for="">Jain</label> -->
                <hr>
                <h3>Background</h3>
                <label class="cast" *ngIf="memberDetails.caste">Community - {{memberDetails.caste}} </label>
                <label class="cast" *ngIf="!memberDetails.caste">Community - Not Specify </label>
                <br>
                <label class="mother tounge" *ngIf="memberDetails.mother_tounge">Mother Tounge -
                    {{memberDetails.mother_tounge}}</label>
                <label class="mother tounge" *ngIf="!memberDetails.mother_tounge">Mother Tounge - Not Specify</label>
                <br>
                <label class="subcaste" *ngIf="memberDetails.subcaste">Sub Community -
                    {{memberDetails.subcaste}}</label>
                <label class="subcaste" *ngIf="!memberDetails.subcaste"> Sub Community - Not Specify</label>
                <br>
                <label class="city" *ngIf="memberDetails.city">City - {{memberDetails.city}} </label>
                <label class="city" *ngIf="!memberDetails.city">City - Not Specify</label>
                <div style="width: 20px;"></div>
                <label class="state" *ngIf="memberDetails.state">State - {{memberDetails.state}}</label>
                <label class="state" *ngIf="!memberDetails.state">State - Not Specify</label>
                <div style="width: 20px;"></div>
                <label class="country" *ngIf="memberDetails.country_name">Country -
                    {{memberDetails.country_name}}</label>
                <label class="country" *ngIf="!memberDetails.country_name">Country - Not Specify</label>


                <hr>
                <!-- <h3> Horoscope Details</h3>
                (Not In Database)
                <label class="Veg" for=""> Born in Surat on ✱✱/✱✱/✱✱✱✱ at exactly 10:05 am.</label><br>
                <label class="Veg" for=""> Non-Manglik</label><br>
                <hr> -->



                <h3> Family Details</h3>

                <!-- <label  *ngIf="memberDetails.FamilyDetails">{{memberDetails.FamilyDetails}}</label>
                <label  *ngIf="!memberDetails.FamilyDetails">Not Specify</label> -->


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="father-tab" data-toggle="tab" href="#father" role="tab"
                            aria-controls="father" aria-selected="true"> Father Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mother-tab" data-toggle="tab" href="#mother" role="tab"
                            aria-controls="mother" aria-selected="false">Mother Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab"
                            aria-controls="other" aria-selected="false">Other Details</a>
                    </li>
                </ul>
                <div style="padding-top: 30px;" class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="father" role="tabpanel" aria-labelledby="father-tab">

                        <label *ngIf="memberDetails.father_status">Father Status -
                            {{memberDetails.father_status}}</label>
                        <label *ngIf="!memberDetails.father_status">Father Status - Not Specify</label>
                        <div style="width: 30px;"></div>

                        <label *ngIf="memberDetails.father_company_name">Father Company Name -
                            {{memberDetails.father_company_name}}</label>
                        <!-- <label  *ngIf="!memberDetails.father_company_name">Father Company Name   - Not Specify</label> -->
                        <br>
                        <label *ngIf="memberDetails.father_designation">Father Designation -
                            {{memberDetails.father_designation}}</label>
                        <!-- <label  *ngIf="!memberDetails.father_designation">Father Designation   - Not Specify</label> -->
                        <div style="width: 30px;"></div>

                        <label *ngIf="memberDetails.father_business_name">Father Business -
                            {{memberDetails.father_business_name}}</label>
                        <!-- <label  *ngIf="!memberDetails.father_business_name">Father Business   - Not Specify</label> -->



                    </div>
                    <div class="tab-pane fade" id="mother" role="tabpanel" aria-labelledby="mother-tab">

                        <label *ngIf="memberDetails.mother_status">Mother Status -
                            {{memberDetails.mother_status}}</label>
                        <label *ngIf="!memberDetails.mother_status">Mother Status - Not Specify</label>

                        <div style="width: 30px;"></div>
                        <label *ngIf="memberDetails.mother_company_name">Mother Company Name -
                            {{memberDetails.mother_company_name}}</label>
                        <!-- <label  *ngIf="!memberDetails.mother_company_name">Mother Company Name   - Not Specify</label> -->

                        <br>
                        <label *ngIf="memberDetails.mother_designation">Mother Designation -
                            {{memberDetails.mother_designation}}</label>
                        <!-- <label  *ngIf="!memberDetails.mother_designation">Mother Designation   - Not Specify</label> -->

                        <div style="width: 30px;"></div>
                        <label *ngIf="memberDetails.mother_business_name">Mother Business -
                            {{memberDetails.mother_business_name}}</label>
                        <!-- <label  *ngIf="!memberDetails.mother_business_name">Mother Business   - Not Specify</label> -->

                    </div>
                    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">

                        <label *ngIf="memberDetails.family_location">Family Location -
                            {{memberDetails.family_location}}</label>
                        <label *ngIf="!memberDetails.family_location">Family Location - Not Specify</label>
                        <div style="width: 30px;"></div>

                        <label *ngIf="memberDetails.native_place">Native Place - {{memberDetails.native_place}}</label>
                        <label *ngIf="!memberDetails.native_place">Native Place - Not Specify</label>
                        <br>
                        <label *ngIf="memberDetails.family_type">Family Type - {{memberDetails.family_type}}</label>
                        <label *ngIf="!memberDetails.family_type">Family Type - Not Specify</label>
                        <div style="width: 30px;"></div>
                        <label *ngIf="memberDetails.familyValues">Family Values - {{memberDetails.familyValues}}</label>
                        <label *ngIf="!memberDetails.familyValues">Family Values - Not Specify</label>
                        <br>
                        <label *ngIf="memberDetails.family_affluence">Family Affluence -
                            {{memberDetails.family_affluence}}</label>
                        <label *ngIf="!memberDetails.family_affluence">Family Affluence - Not Specify</label>


                    </div>
                </div>


















                <br>
                <hr>
                <h3><i class="bi bi-book-half"></i> Education & Career</h3>
                <label *ngIf="memberDetails.highest_qualification">Highest Qualification -
                    {{memberDetails.highest_qualification}}</label>
                <label *ngIf="!memberDetails.highest_qualification">Highest Qualification -
                    {{memberDetails.highest_qualification}}</label><br>


                <label *ngIf="memberDetails.working_as">Working As - {{memberDetails.working_as}}</label>
                <label *ngIf="!memberDetails.working_as">Working As - Not Specify</label><br>

                <label *ngIf="memberDetails.working_details">Working Details - {{memberDetails.working_details}}
                </label>
                <label *ngIf="!memberDetails.working_details">Working Details - Not Specify</label><br>

                <label *ngIf="memberDetails.annual_income">Annual Income - {{memberDetails.annual_income}}</label>
                <label *ngIf="!memberDetails.annual_income"> Annual Income - Not Specify</label><br>
                <hr>

                <div *ngIf="!preferenceDetails">                <h3>
                    {{preferenceDetails.title}}</h3>
                <div class="row">
                    <div class="col-4 imglogo">
                        <img src="/assets/img/Saathidaar_PNG_logo/m-final.jpeg" alt="" />
                        <p>
                            {{preferenceDetails.gender_preference}}</p>
                    </div>
                    <div class="col-4 imglogop">
                        <label for=""><i class="bi bi-dash-lg"></i>You match {{preferenceDetails.match_count}}/
                            {{preferenceDetails.total_preference}} of
                            {{preferenceDetails.gender_preference}}</label><br>
                    </div>
                    <div class="col-4 imglogo">
                        <img src="/assets/img/Saathidaar_PNG_logo/w-final.jpeg" alt="" />
                        <p>You match</p>
                    </div>
                </div>
                <div class="col-12">
                    <div *ngIf="preferenceDetails.partner_age!=''">
                        <label for="">Age</label><br>
                        <label class="age">{{preferenceDetails.partner_age}}</label>
                        <i *ngIf="preferenceDetails.my_age=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_age=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_age=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>
                    <hr>

                    <!-- <div *ngIf="preferenceDetails.partner_height!=''">
                    <label for="">Age</label><br>
                    <label class="age" >{{preferenceDetails.partner_age}}</label>  
                     <i  *ngIf="preferenceDetails.my_age=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i   *ngIf="preferenceDetails.my_age=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_age=='BLANK'" class="fa-solid fa-minus"></i>
                     <hr>
                </div> -->

                    <div *ngIf="preferenceDetails.partner_marital_status!=''">
                        <label for="">Marital Status</label><br>
                        <label class="age">{{preferenceDetails.partner_marital_status}}</label>
                        <i *ngIf="preferenceDetails.my_marital_status=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_marital_status=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_marital_status=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>
                    <hr>


                    <div *ngIf="preferenceDetails.partner_marital_status!=''">
                        <label for="">Religion / Community</label><br>
                        <label class="age">{{preferenceDetails.partner_religions}}</label>
                        <i *ngIf="preferenceDetails.my_religions=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_religions=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_religions=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>

                    <hr>

                    <div *ngIf="preferenceDetails.partner_mother_tongue!=''">
                        <label for="">Mother Tongue</label><br>
                        <label class="age">{{preferenceDetails.partner_mother_tongue}}</label>
                        <i *ngIf="preferenceDetails.my_mother_tongue=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_mother_tongue=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_mother_tongue=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>

                    <hr>
                    <div *ngIf="preferenceDetails.partner_country!=''">
                        <label for="">Country Living in</label><br>
                        <label class="age">{{preferenceDetails.partner_country}}</label>
                        <i *ngIf="preferenceDetails.my_country=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_country=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_country=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>

                    <hr>
                    <div *ngIf="preferenceDetails.partner_state!=''">
                        <label for="">State Living in</label><br>
                        <label class="age">{{preferenceDetails.partner_state}}</label>
                        <i *ngIf="preferenceDetails.my_state=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_state=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_state=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>

                    <hr>
                    <div *ngIf="preferenceDetails.partner_city!=''">
                        <label for="">City Living in</label><br>
                        <label class="age">{{preferenceDetails.partner_city}}</label>
                        <i *ngIf="preferenceDetails.my_city=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_city=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_city=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>
                    <hr>

                    <div *ngIf="preferenceDetails.partner_qualification!=''">
                        <label for="">Qualifications</label><br>
                        <label class="age">{{preferenceDetails.partner_qualification}}</label>
                        <i *ngIf="preferenceDetails.my_qualification=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_qualification=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_qualification=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>
                    <hr>

                    <div *ngIf="preferenceDetails.partner_working_with!=''">
                        <label for="">Working With</label><br>
                        <label class="age">{{preferenceDetails.partner_working_with}}</label>
                        <i *ngIf="preferenceDetails.my_working_with=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_working_with=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_working_with=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>
                    <hr>



                    <div *ngIf="preferenceDetails.partner_annual_income!=''">
                        <label for="">Annual Income</label><br>
                        <label class="age">{{preferenceDetails.partner_annual_income}}</label>
                        <i *ngIf="preferenceDetails.my_annual_income=='Yes'" class="fa-solid fa-circle-check"></i>
                        <i *ngIf="preferenceDetails.my_annual_income=='NO'" class="fa-solid fa-xmark"></i>
                        <i *ngIf="preferenceDetails.my_annual_income=='BLANK'" class="fa-solid fa-minus"></i>
                    </div>
                    <hr>




                </div>
            </div>
            

            <div *ngIf="preferenceDetails">
                <h3>Member Preference no updated </h3>
            </div>

            </div>
        </div>
    </div>
</body>