<body style="border: 1px solid #742041;" >
    <h1 class="  col-12"><b>User Profile</b></h1>
    <div class="container">
        <div class="row mt-3 maindetails">
    <div class="col-lg-3 col-sm-12 img-2">
                <div>
            <img class="" data-toggle="modal" data-target="#exampleModal"  class="imgnew"  [src]='imageURL+viewMemberModels.profile_photo' alt="">
                </div>

             <div class="text-center mt-1">
                <button style="margin: 5px;" type="button" class="btn btn-success btn-sm" (click)="ApprovalImageAdmin(viewMemberModels.image_id)">Approval</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteImageAdmin(viewMemberModels.image_id)">Reject</button>
             </div>
             
    <div  class="col-3 mt-1"    *ngFor="let image of demoUrls">
    <button style="background: transparent; border: none;" type="submit"  ><i class="fa fa-trash" aria-hidden="true"></i></button>
    <img  [src]='imageURL+image.member_images'  style="height: 70px ;width: 70px;"  class="bgcolor"  alt="..." >
    </div>
</div>

                         <!-- <div style="background-color: #742041;color: aliceblue;" class="col-lg-3 col-sm-12  age-col">
                            <table class="table table-borderless">
                                <tr>
                                    <th style="color: #fff;" scope="">Plan Name <span style="float: right ;color: aliceblue;">:</span></th>
                                    <th  style="color: #fff;" scope="">  Silver</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope="">Month <span style="float: right ;">:</span></th>
                                    <th  style="color: #fff;" scope="">  3</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope=""><span style="float: right ;">:</span>Amount</th>
                                    <th  style="color: #fff;" scope=""> 12000</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope=""><span style="float: right ;">:</span> Number</th>
                                    <th  style="color: #fff;" scope=""> 8668214959</th>
                                </tr>
                                <tr>
                                    <th  style="color: #fff;" scope=""><span style="float: right ;">:</span>Email ID</th>
                                    <th  style="color: #fff;" scope=""> MatinKhan@gmail.com</th>
                                </tr>
                            </table>
                        </div> -->
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>About Myself</h3>
                <table class="table table-borderless">
                <div  [innerHTML]="viewMemberModels.about_ourself"></div>
                </table>
            </div>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Basics & Lifestyle</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Age</th>
                        <th scope="">: {{viewMemberModels.age}}</th>
                    </tr>
                    <tr>
                        <th scope="">Date of Birth</th>
                        <th scope="">:  {{viewMemberModels.date_of_birth}}</th>
                    </tr>
                    <tr>
                        <th scope="">Marital Status</th>
                        <th scope="">:  {{viewMemberModels.marital_status}}</th>
                    </tr>
                    <tr>
                        <th scope="">Height</th>
                        <th scope="">:  {{viewMemberModels.height}}</th>
                    </tr>
                    <tr>
                        <th scope="">Grew up in</th>
                        <th scope="">: {{viewMemberModels.city}}</th>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Diet</th>
                        <th scope="">:  {{viewMemberModels.lifestyles}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Personal Values</th>
                        <th scope="">  Will tell you later</th>
                    </tr> -->
                    <!-- <tr>
                        <th scope="">Sun Sign</th>
                        <th scope="">  Leo</th>
                    </tr> -->
                    <tr>
                        <th scope="">Blood Group</th>
                        <th scope="">:  {{viewMemberModels.blood_group}}</th>
                    </tr>
                    <tr>
                        <th scope="">Health Information
                        </th>
                        <th scope="">:  {{viewMemberModels.health_info}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Disability
                        </th>
                        <th scope="">  None</th>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Religious Background</h3>
            </div>
        </div>
        <div class="row">
            
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Religion</th>
                        <th scope="">: {{viewMemberModels.religion_name}}</th>
                    </tr>
                    <tr>
                        <th scope="">Community
                        </th>
                        <th scope="">:  {{viewMemberModels.caste}}</th>
                    </tr>
                    <tr>
                        <th scope="">Sub community</th>
                        <th scope="">:  {{viewMemberModels.sub_caste_name}}</th>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Mother Tongue</th>
                        <th scope="">:  {{viewMemberModels.mother_tounge}}</th>
                </tr>
                    <tr  ng-if="viewMemberModels.religion_name == Hindu || viewMemberModels.religion_name == Jain">
                        <th scope="">Gothra / Gothram  </th>
                        <th scope="">: {{viewMemberModels.gothra}}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Can speak</th>
                        <th scope="">  Enter Now</th>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Astro Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Manglik/Chevvai dosham
                        </th>
                        <th scope="">: {{viewMemberModels.manglik}}</th>
                    </tr>
                    <tr>
                        <th scope="">Date of Birth
                        </th>
                        <th scope="">:  {{viewMemberModels.date_of_birth}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Nakshatra
                        </th>
                        <th scope="">  {{viewMemberModels.nakshatra}}</th>
                    </tr> -->
                </table>
            </div>
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Time of Birth
                        </th>  
                        <th scope="">:  {{viewMemberModels.time_of_birth}}   {{viewMemberModels.time_status}}</th>
                    </tr>
                    <tr>
                        <th scope="">City of Birth
                        </th>
                        <th scope="">:  {{viewMemberModels.city_of_birth}} </th>
                    </tr>
                </table>
            </div>

        </div>
    </div> 
    <div class="container">
        <div class="row">
        
            <div class="col-12">
                <h3>
                    Family details</h3>
            </div>
        </div>
        <div class="row">
        
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Father's Status

                        </th>
                        <th scope="">:  {{viewMemberModels.father_status}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="">Nature of Business
                        </th>
                        <th scope="">  {{viewMemberModels.father_status}}</th>
                    </tr> -->
                    <tr>
                        <th scope="">Mother's Status
                        </th> 
                        <th scope=""> : {{viewMemberModels.mother_status}}</th>
                    </tr>
                    <tr>
                        <th scope="">Family Location
                        </th>
                        <th scope="">:  {{viewMemberModels.family_location}}</th>
                    </tr>
                    <tr>
                        <th scope="">Native Place
                        </th>
                        <th scope="">:  {{viewMemberModels.native_place}}</th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">No. of Brothers</th>
                        <th scope="" ng-if="viewMemberModels.married_male">: {{viewMemberModels.married_male}} married </th>
                        <!-- <th scope="" ng-if="viewMemberModels.unmarried_male">  {{viewMemberModels.unmarried_male}} unmarried </th> -->
                    </tr>
                    <tr>
                        <th scope="">No. of Sisters
                        </th>
                        <th scope="" ng-if="viewMemberModels.married_female">: {{viewMemberModels.married_female}} married </th>
                        <!-- <th scope="" ng-if="viewMemberModels.unmarried_female">  {{viewMemberModels.unmarried_female}} unmarried </th> -->
                    </tr>
                    <tr>
                        <th scope="">Family Type
                        </th>
                        <th scope="">:  {{viewMemberModels.family_type}}</th>
                    </tr>

                  
                    <tr>
                        <th scope="">Family Affluence

                        </th>
                        <th scope="">:  {{viewMemberModels.family_affluence}}</th>
                    </tr>

                    <!-- <tr>
                        <th scope="">City of Birth
                        </th>
                        <th scope="">  Nashik / india</th>
                    </tr> -->

                </table>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>
                    Education & Career</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <hr>
                <table class="table table-borderless">
                    <tr>
                        <th scope="">Highest Qualification

                        </th>
                        <th scope="">:  {{viewMemberModels.highest_qualification}}</th>
                    </tr>
                    <tr>
                        <th scope="">College(s) Attended
                        </th>
                        <th scope="">:  {{viewMemberModels.college_attended}}</th>
                    </tr>
                    <tr>
                        <th scope="">Annual Income  
                        </th>
                        <th scope="">:  {{viewMemberModels.annual_income}}
                        </th>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Working With

                        </th>
                        <th scope="">:  {{viewMemberModels.working_with}}</th>
                    </tr>

                    <tr>
                        <th scope="">Working As



                        </th>
                        <th scope="">:  {{viewMemberModels.working_as}}</th>
                    </tr>

                    <!-- <tr>
                        <th scope="">Employer Name


                        </th>
                        <th scope="">  Enter Now</th>
                    </tr> -->
                </table>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h3>
                    Location of Groom</h3>
            </div>

        </div>
        <div class="row">
        

            <div class="col-6">

                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Current Residence
                        </th>
                        <th scope="">:  {{viewMemberModels.city}}, {{viewMemberModels.country_name}}</th>
                    </tr>
                    <tr>
                        <th scope="">State Of Residence
                        </th>
                        <th scope="">: {{viewMemberModels.state}}</th>
                    </tr>

                </table>
            </div>
            <div class="col-6">
                <hr>

                <table class="table table-borderless">
                    <tr>
                        <th scope="">Residency Status


                        </th>
                        <th scope="">:  {{viewMemberModels.city}}</th>
                    </tr>

                    <tr>
                        <th scope="">Zip / Pin code




                        </th>
                        <th scope="">:  {{viewMemberModels.pincode}}</th>
                    </tr>


                </table>

            </div>
        </div>
    </div>






        <div class="container">
            <div class="row">

          


          <div class="col-12">
              <h3>My Contact detail
            </h3>
          </div>
        </div>
      </div>
 
      <div class="container">

      <div class="row">
               
        

        <div class="col-6">

            
            <table class="table table-borderless">
                <tr>
                    <th scope="">Mobile

                    </th>
                    <th scope="">: {{viewMemberModels.contact_number}}

                        </th>
                </tr>
                
                <tr>
                    <th scope="">Relationship with the member

                    </th>
                    <th scope="">:  {{viewMemberModels.profilecreatedby}}

                        </th>
                </tr>
                <tr>
                    <th scope="">Franchise code
                    </th>
                    <th scope="">:  {{viewMemberModels.franchise_code}}
                        </th>
                </tr>
            </table>
        </div>
        <hr>
      </div>
    </div>

</body>
