<script src="js/jquery-1.11.2.min.js"></script>
<!-- 
 <div class="navbar " id="navbarSupportedContent">
  <img src="/assets/img/logoo.jpg.png" alt="" class="im1">

  <div class="subnav" >

   <div> <button class="subnavbtn " (click)="addEventHandler()"  aria-haspopup="true" aria-expanded="false">My Saathidar <i class="fa fa-caret-down"></i></button></div>
    <div class="subnav-content" *ngIf="mySaathidar">
      <a [routerLink]="" (click)="showDashboard()" aria-expanded="false">Dashboard</a>
      <a [routerLink]="" (click)="showMyProfile()" aria-expanded="false">My Profile</a> 

      

      <a [routerLink]="" (click)="showPartnerPreference()" aria-expanded="false">Partner Preference</a>
      <a [routerLink]="" (click)="showHorosscope()" aria-expanded="false">Horoscope Details</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Matches <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a [routerLink]="" (click)="showNewMatches()">New Matches</a>
      <a [routerLink]="" (click)="showMyMatches()">My Matches</a>
      <a [routerLink]="" (click)="showTodaysMatches()">Today's Matches</a>
      <a [routerLink]="" (click)="showShortLists()">ShortLists</a>
    </div>
  </div>
  <a [routerLink]="" (click)="showSearch()">Search <i class="fa fa-search" aria-hidden="true"></i></a>
  <div class="subnav">
    <button class="subnavbtn">Inbox <i class="fa fa-inbox" aria-hidden="true"></i></button>
    <div class="subnav-content">
      <a [routerLink]="" (click)="showInvitations()">Invitations</a>
      <a [routerLink]="" (click)="showAccepted()">Accepted</a>

    

      <a [routerLink]="" (click)="showSent()">Sent</a>
      <a [routerLink]="" (click)="showDeleted()">Deleted</a>
    </div>
  </div>
  <a [routerLink]="" (click)="showUpgradeNow()"> Updgrade Now</a>
  <div class="subnav">
    <button class="subnavbtn">Profile  <i class='fa fa-user'></i></button>
    <div class="subnav-content">
      <a [routerLink]="" (click)="showAccount()">Account</a>
      <a [routerLink]="" (click)="showContact()">contact</a>
      <a [routerLink]="" (click)="showHidedeleteprofile()">hide-delete-profile</a>
      <a [routerLink]="" >Help</a>
    </div>
  </div>
 
</div>







 -->

<div class="navbar " id="navbarSupportedContent">
  <img src="/assets/img/logoo.jpg.png" alt="" class="im1">

  <div class="subnav">

    <div> <button class="subnavbtn " (click)="addEventHandler()" >My Saathidar
  
      </button>


    </div>
  </div>


  <div class="subnav">
    <div> <button class="subnavbtn " (click)="addEventMatches()">Matches <i class="fa fa-user-plus" aria-hidden="true"></i></button>

    </div>
  </div>


 <div class="subnav">
    <div> <button class="subnavbtn " (click)="addEventInbox()" >Inbox <i class="fa fa-inbox" aria-hidden="true"></i> 
      </button>
    
    </div>
  </div>


  <div class="subnav">
    <div> <a [routerLink]="" (click)="showSearch()">Search <i class="fa fa-search" aria-hidden="true"></i></a></div>
    </div>

    <div class="subnav">
    <div><a [routerLink]="" (click)="showUpgradeNow()"> Updgrade Now <i class="fa-solid fa-crown"></i></a></div>
    </div>

  

    <div class="subnav">
    <div> <button class="subnavbtn " (click)="addEventProfile()" >Settings <i class="fa-solid fa-gear"></i></button>
      
    </div>
    </div>
    <div class="subnav">
      <div> <button class="subnavbtn " (click)="logout()">Logout <i class="fa-solid fa-gear"></i>
        </button>
      </div>
      </div>
  











</div>
<div class="subnav-content1" *ngIf="mySaathidar">
  <div class="header1">
    <a [routerLink]="" (click)="showDashboard()" aria-expanded="false" id="header2">Dashboard</a>
    <a [routerLink]="" (click)="showMyProfile()" aria-expanded="false" id="header2">My Profile</a>
    <a [routerLink]="" (click)="showPartnerPreference()" aria-expanded="false" id="header2">Partner Preference</a>
    <a [routerLink]="" (click)="showHorosscope()" aria-expanded="false" id="header2">Horoscope Details</a>
  </div>
</div>

<div class="subnav-content1" *ngIf="myInbox">
  <div class="header1">
    <a [routerLink]="" (click)="showInvitations()" id="header2">Invitations</a>
    <a [routerLink]="" (click)="showAccepted()" id="header2">Accepted</a>
    <a [routerLink]="" (click)="showSent()" id="header2">Sent</a>
    <a [routerLink]="" (click)="showDeleted()" id="header2">Deleted</a>
  </div>
</div>

<div class="subnav-content1" *ngIf="myMatches">
  <div class="header1">
    <a [routerLink]="" (click)="showNewMatches()" id="header2">New Matches</a>
    <a [routerLink]="" (click)="showMyMatches()" id="header2">My Matches</a>
    <a [routerLink]="" (click)="showTodaysMatches()" id="header2">Today's Matches</a>
    <a [routerLink]="" (click)="showShortLists()" id="header2">ShortLists</a>
    <a [routerLink]="" (click)="showView()" id="header2">View</a>
  </div>
</div>

<div class="subnav-content1" *ngIf="myProfile">

  <div class="header1">
    <a [routerLink]="" (click)="showAccount()">Account</a>
    <a [routerLink]="" (click)="showContact()">Email/SMS</a>
    <a [routerLink]="" (click)="showHidedeleteprofile()">hide-delete-profile</a>
    <a [routerLink]="">Help</a>
  </div>
</div> 