
.navbar-brand img
{
    width: 70px;height: 70px;
}
.navbar
{
    background-color:#742041;

}
.nav-link
{
    padding: 10px 0px 10px 0px;
}

hr
{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 2px dotted black;
}
.form-check-inline
{
    padding: 0px;
}
.list-group-item {
position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 0px solid black;
}
.list-group-item+.list-group-item
{
    position: relative;
    display: block;

    background-color: #fff;
    border: 0px solid black;
}
select {
    word-wrap: normal;width: 200px;  border: 1px solid black;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 200px;
}
.ab
{
    width: 200px;
}
.form-check-label
{
    width: auto;
}
textarea
{
    width:220px ; height: 40px;
}
.form-control
{
    width:220px ; height: 40px;
}

button
{
border-radius: 10px;  border: 1px solid black;
}
.vs
{
    margin: auto;text-align: center;border-radius: 10px;margin-top: 20px;border: none;
    margin-bottom: 6px;
}
.bir
{
    margin-left: 20px;
}
p
{
    font-size: 20px; background-color:#742041
;color: #fff;
    padding: 10px;
    width: 690px;
}
/* .hr{
    mar
} */
.btn
{
     background-color:#742041;color: #fff;
}
.family
{
    width: 10px;
}


/* -------------------------------------------------- */

.registration_label{
    color:black;
}

input[type=text], select {
    width: 40%;
    padding: 8px 3px;
  
    margin: -7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



  .th1
{
    float: left;
    margin-left: -12px;
}
table
{
    margin-left: 200px;
}
table tr th
{
 padding: 8px ;padding-top: 0px;
}

.label-s{
    width: 70px;
} 
.js-religion1{
    width: 50px;
}
