
<div class="container" >
    <section>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
    
            <h2>You can choose from the popular topics below</h2><br>
    
            <h1>Profiles & Photos</h1>
    
            <ul>
               
              
                
            </ul>
    
    
            
            <h1>Contacting Members</h1>
    
            <ul>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> What do I do if a phone no is not working but bal
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i>  I have come across profiles who are already ma
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> I have seen profiles without photo. Why do you all
                </li>
                <li>
                        <a href="">See all 8 articles</a>
                </li>
            </ul>
    
    
             
            <h1>Registration & Login</h1>
    
            <ul>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> How can I register on Sangam.com?
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i>  Do I have to pay to register on Sangam.com?
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> Are there guidelines to create a profile on Sanga
                </li>
                <li>
                        <a href="">See all 8 articles</a>
                </li>
            </ul>
    
            <h1>  Membership & Payments</h1>
    
            <ul>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> What are the benefits of premium membership?
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i>  I want to buy a membership, how can I pay?
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> Payment deducted but membership not activat
                </li>
                <li>
                        <a href="">See all Membership & Payments</a>
                </li>
            </ul>
    
    
            <h1>Searches & Matches</h1>
    
            <ul>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> How can I search for matches?
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i>  I am not getting matches as per my preference. W
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> I am getting less matches.
                </li>
                <li>
                        <a href="">See all 8 articles</a>
                </li>
            </ul>
    
            
            <h1>Privacy/Safety</h1>
    
            <ul>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> Is my profile safe on Sangam portal?
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i>  Is there a way to control who can view my Photo
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i> I have come across a suspicious profile. What sh
                </li>
                <li>
                        <a href="">See all Privacy/Safety</a>
                </li>
            </ul>        
                   
            <h1>Contact us</h1>
        </div>
        <div class="col-2"></div>
       
        <div class="row text-center p-3">
                <div class="col-4 pt-4">Submit a request
                    Write to Customer Care</div>
                <div class="col-4 boderleft">India : +91-9403446858<br>
                    We are Back! Our phone services have resumed and you can now call us between 10am - 7pm (IST). You may experience marginally longer wait times in this period, but that will be fixed soon. For Instant Support, we recommend that you connect with us on Chat & we will be there to assist you. #StrongerTogether</div>
                <div class="col-4  pt-4">Need instant help?
                    24x7 Live Chat</div>
    
        </div>
    </div>
    </section>
    </div>
